/* Height of input element */
/* Font-size of error message */
/* Error messages */
.error-message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
}
.input-error-message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
  margin-top: 10px;
  min-height: 29px;
  font-size: 1em;
  line-height: 2em;
}
input.error {
  border: 1px solid #ff4800;
}
.form-error-message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
  margin-top: 10px;
  padding: 8px 10px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1em;
}
/* Common */
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cz-timescale {
  padding-bottom: 0px;
  font-size: large;
  font-weight: 500;
  background-color: #0388E5;
  overflow: hidden;
  cursor: default;
  width: 100%;
  height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .75em;
  color: white;
  position: relative;
  overflow: visible;
}
.cz-timescale > canvas {
  position: absolute;
  bottom: 0px;
}
.cz-timescale-panel {
  position: absolute;
  display: table;
  z-index: 100;
  top: 0px;
  height: 100%;
  width: 185px;
  background-color: #0388E5;
  font-size: large;
  text-align: center;
}
.cz-timescale-left {
  left: 0px;
  border-right: 5px solid #58B7F9;
}
.cz-timescale-left p {
  display: table-cell;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.timescale_right_border_input {
  color: white;
  display: table-cell;
  background-color: #0388E5;
  width: 185px;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.timescale_left_border_input {
  color: white;
  display: table-cell;
  background-color: #0388E5;
  width: 185px;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.cz-timescale-right {
  right: 0px;
  border-left: 5px solid #58B7F9;
}
.cz-timescale-right p {
  display: table-cell;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.cz-timescale-labels-container {
  position: absolute;
  bottom: 16px;
}
.cz-timescale-label {
  position: absolute;
  display: block;
  float: left;
  white-space: nowrap;
}
.cz-timescale-marker {
  z-index: 150;
  display: table;
  position: absolute;
  height: 100%;
  width: auto;
  background-color: transparent;
  top: 0px;
}
.cz-timescale-marker div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 24px;
  padding: 5px 15px;
  background-color: #00538D;
  line-height: 100%;
  font-size: 15px;
}
.cz-timescale-marker-triangle {
  position: absolute;
  bottom: 0;
  border-top: 14px solid   #00538D;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -14px;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cz-datepicker-mode {
  display: inline-block;
  width: 80px;
  margin-right: 20px;
}
.cz-datepicker-container {
  display: inline-block;
  float: right;
}
.cz-datepicker-container:after {
  clear: both;
}
.cz-datepicker-regime {
  height: 30px;
  margin-left: 10px;
}
.cz-datepicker-year-year {
  height: 30px;
  width: 80px;
}
.cz-datepicker-year-date {
  height: 30px;
  width: 50px;
}
.cz-datepicker-day-selector {
  height: 30px;
  max-height: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
.cz-datepicker-month-selector {
  height: 30px;
}
.cz-datepicker-errormsg {
  color: #dd4b39;
}
/***********************************************************

                        Media List
      
***********************************************************/
.cz-medialist {
  padding: 5px;
  border: solid 2px #c7c7c7;
  background-color: #e9e9e9;
}
.cz-medialist-item {
  display: inline-block;
  margin: 5px;
}
.cz-medialist-item-icon {
  display: block;
}
/***********************************************************

                    Custom Media Pickers
      
***********************************************************/
/* Bing Media Picker */
.cz-form-bing-mediapicker {
  width: 75%;
  bottom: 25px;
  left: 0;
}
.cz-form-bing-mediapicker > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.cz-bing-search-input {
  display: inline-block;
  width: 400px;
  margin: 0 25px 10px 0;
}
.cz-bing-search-button {
  display: inline-block;
  margin: 0 0 10px 0 !important;
  padding: 5px !important;
  border: 1px solid #0464a2 !important;
}
/*
Fix for Firefox (same height for search input and button).
NOTE: http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari
*/
.cz-bing-search-button::-moz-focus-inner {
  border: 0;
}
.cz-bing-search-results {
  color: #232323;
}
.cz-bing-result-container {
  display: inline-block;
  overflow: hidden;
  margin: 15px 5px;
}
.cz-bing-result-title {
  color: #232323;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cz-bing-result-description,
a.cz-bing-result-description:visited,
a.cz-bing-result-description:link {
  display: block;
  color: #aeaeae;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
a.cz-bing-result-description:hover {
  color: #0464a2;
}
.cz-bing-result-doc-description {
  color: #aeaeae;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.cz-bing-result-thumbnail {
  display: block;
  margin: auto;
}
/* SkyDrive Media Picker */
iframe[sutra=picker] {
  opacity: 0;
  z-index: 100000003 !important;
}
iframe[sutra=picker] + div {
  z-index: 100000002 !important;
}
/* Source: CSS from SkyDrive */
.cz-skydrive-logout-button {
  opacity: 0;
  z-index: 100000003;
  position: fixed;
  height: 2.142em;
  min-width: 6em;
  font-family: "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Medium", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  background-color: rgba(182, 182, 182, 0.7);
  color: #212121;
  padding: 3px 12px 5px;
  border: 0;
  margin-left: 20px;
  margin-top: 15px;
  outline: none;
  line-height: 142%;
}
/* Label for warning */
.cz-skydrive-help-text {
  opacity: 0;
  z-index: 100000004;
  position: fixed;
  min-width: 6em;
  font-family: "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Medium", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #666666;
  padding: 3px 12px 5px;
  border: 0;
  margin-left: 10px;
  margin-top: 15px;
  outline: none;
  line-height: 142%;
}
/* Source: CSS from SkyDrive */
.cz-skydrive-logout-button:hover {
  background-color: rgba(205, 205, 205, 0.82);
}
/* Source: CSS from SkyDrive */
.cz-skydrive-logout-button:active {
  background-color: #212121;
  color: #fff;
}
/* Height of input element */
/* Font-size of error message */
/* Error messages */
.error-message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
}
.input-error-message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
  margin-top: 10px;
  min-height: 29px;
  font-size: 1em;
  line-height: 2em;
}
input.error {
  border: 1px solid #ff4800;
}
.form-error-message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
  margin-top: 10px;
  padding: 8px 10px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1em;
}
/* Common */
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.start-page-screen {
  display: none;
  position: absolute;
  top: 35px;
  bottom: 25px;
  left: 0;
  right: 0;
  cursor: default;
  overflow: hidden;
  z-index: 1000;
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;
  font-family: "Segoe UI Light";
  font-weight: lighter;
}
.start-page-screen h1,
.start-page-screen h2,
.start-page-screen h3 {
  margin: 0;
  font-weight: lighter;
}
.ContentContainer {
  position: relative;
  margin: 0 auto;
  height: 100%;
}
.FTTiles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.FTList {
  display: none;
  color: white;
}
.cleardiv {
  clear: both;
  width: 100%;
  height: 5px;
}
.li-title {
  float: left;
  width: 33.3333%;
}
.li-author {
  float: left;
  width: 33.3333%;
}
.li-icon {
  float: left;
  width: 33.3333%;
}
.boxInner {
  background-color: #313131;
  border-top: 3px #666 solid;
  position: absolute;
  width: 100%;
  height: 100%;
}
.tile-photo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tile-photo:hover {
  cursor: pointer;
}
.tile-photo img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tile-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tile-gradient img {
  width: 100%;
  height: 100%;
}
.tile-meta {
  padding: 5%;
  position: absolute;
  top: 0;
  left: 0;
}
.tweet-meta {
  height: 100%;
  overflow: visible;
  padding: 5%;
  position: absolute;
  top: 0;
  left: 0;
}
.tile-meta-title {
  font-weight: bold;
  color: #FFF;
  font-size: 14px;
  display: block;
}
.tweet-meta-title {
  float: left;
  font-weight: bold;
  color: #FFF;
  font-size: 14px;
  display: block;
}
.tile-meta-author {
  font-weight: normal;
  color: #999;
  font-size: 12px;
}
.tweet-avatar-icon {
  float: left;
}
.tweet-icon {
  float: right;
  margin: 3px;
}
.tweet-meta-author {
  font-weight: normal;
  font-size: 12px;
  color: #10A5C6;
  display: block;
}
.tile-meta-time {
  display: inline-block;
  font-size: 12px;
  color: #B0B0B0;
  float: right;
}
.twitter-time-container {
  position: absolute;
  margin: 5px;
  bottom: 15px;
  left: 5px;
  right: 5px;
  border-top: 1px #666 solid;
}
.tile-meta-text {
  font-weight: normal;
  color: #B0B0B0;
  font-size: 12px;
  display: block;
}
.tweet-meta-text {
  font-weight: normal;
  color: #B0B0B0;
  font-size: 12px;
  display: block;
  overflow: hidden;
}
.WelcomeBlock {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  overflow: hidden;
}
.WelcomeBlock .welcome-box-1 {
  margin-top: 3px;
  text-align: bottom;
}
.WelcomeBlock .welcome-box-1 h1 {
  font-size: 34px;
  margin: 10px 0 35px;
}
.WelcomeBlock .welcome-box-2 {
  font-size: 18px;
}
.WelcomeBlock .welcome-box-2 .welcome-link {
  color: #00bce0;
  padding: 0 30px;
  height: 65px;
  border: 1px solid transparent;
  line-height: 65px;
  margin: 25px 0;
  font-size: 22px;
}
.WelcomeBlock .welcome-box-2 .welcome-link:hover {
  border: 1px solid #00bce0;
  background: url(/images/arrow-right-hover.png) no-repeat 95% center rgba(80, 80, 104, 0.7);
  cursor: pointer;
}
.welcome-link {
  color: #03A1BF;
}
.block-header {
  color: white;
  border-top: 3px #666 solid;
  text-align: left;
}
.block-header .header-text {
  font-size: 26px;
  line-height: 74px;
}
.list-view-icon {
  float: right;
  width: 36px;
  height: 36px;
  background-image: url(/images/arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 19px 0;
  cursor: pointer;
}
.list-view-icon:hover {
  background-image: url(/images/arrow-right-hover.png);
  cursor: pointer;
}
.list-view-icon.active {
  background-image: url(/images/arrow-left.png);
  cursor: pointer;
}
.list-view-icon.active:hover {
  background-image: url(/images/arrow-left-hover.png);
  cursor: pointer;
}
.template-invisible {
  display: none;
}
.header-text {
  display: inline-block;
}
.box {
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: relative;
  margin: 5px;
  display: inline-block;
  text-align: left;
}
.TwitterBlock {
  text-align: center;
}
@media only screen and (max-width: 650px), screen and (orientation: landscape) and (max-device-width: 480px) {
  /* Small Tablet view: 3 rows, 2 columns */
  .tweet-meta-title {
    display: none;
  }
  .tweet-meta-text {
    font-size: 10px;
  }
  .tweet-avatar-icon {
    display: none;
  }
  .ex3,
  .ex4,
  .ex6 {
    display: none;
  }
  .box {
    width: 25%;
    height: 30%;
    padding-bottom: 20%;
    overflow: hidden;
  }
  .WelcomeBlock {
    width: 100%;
    height: 20%;
  }
  .welcome-box-1 {
    padding: 0px;
    overflow: visible;
    height: 40%;
  }
  .welcome-box-2 {
    float: left;
    height: -webkit-calc(60%);
    font-size: 11px;
    overflow: auto;
  }
  .welcome-box-3 {
    float: left;
    display: none;
  }
}
@media only screen and (max-width: 1050px) and (min-width: 651px) {
  /* Tablet view: 1 row 4 columns and 2 x 2 columns below */
  .tweet-avatar-icon {
    display: none;
  }
  .tweet-meta-title {
    font-size: 10px;
  }
  .tweet-meta-author {
    font-size: 10px;
  }
  .box {
    width: 45%;
    height: 15%;
    padding-bottom: 20%;
  }
  .ex3,
  .ex4 {
    display: inline-block;
  }
  .ex6 {
    display: none;
  }
  .WelcomeBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 30%;
    background-color: transparent;
    vertical-align: top;
  }
  .FeaturedTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 45%;
    height: 60%;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .PopularTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 45%;
    height: 60%;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .TwitterBlock {
    float: right;
    margin: 5px;
    padding: 5px;
    width: 45%;
    height: 60%;
    background-color: transparent;
    vertical-align: top;
    box-sizing: border-box;
  }
  .welcome-box-1 {
    font-size: 15px;
    white-space: nowrap;
    overflow: visible;
    height: -webkit-calc(50%);
    height: calc(50%);
  }
  .welcome-box-2 {
    float: left;
    height: -webkit-calc(30%);
    height: calc(30%);
    font-size: 14px;
    overflow: auto;
  }
  .welcome-box-3 {
    float: left;
    overflow: auto;
    display: none;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1051px) {
  .box {
    width: 45%;
    height: 15%;
    padding-bottom: 20%;
  }
  .WelcomeBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 31%;
    height: 100%;
  }
  .FeaturedTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 31%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
  }
  .PopularTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 31%;
    height: 100%;
    box-sizing: border-box;
  }
  .TwitterBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 31%;
    height: 100%;
    box-sizing: border-box;
  }
  .welcome-box-1 {
    overflow: visible;
    vertical-align: top;
    font-size: 15px;
  }
  .welcome-box-2 {
    float: left;
    overflow: visible;
    height: calc(30%);
    height: -webkit-calc(30%);
  }
  .welcome-box-3 {
    float: left;
    overflow: visible;
    vertical-align: top;
  }
  /* Medium desktop: 6 columns, 3 rows */
}
@media only screen and (min-width: 1401px) {
  /* Large desktop: 6 columns, 3 rows, extra margin tiles */
  .twitter-time-container {
    bottom: 25px;
  }
  .box {
    width: 45%;
    height: 15%;
    padding-bottom: 20%;
  }
  .WelcomeBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 31%;
    height: 100%;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .FeaturedTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 31%;
    height: 100%;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .PopularTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 31%;
    height: 100%;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .TwitterBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 31%;
    height: 100%;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* The height of the page header */
/* The width of the logo area */
/* The width of the tour player area */
/* The width of the regimes area */
/* The height of the breadcrumbs area */
/* The top margin of the bref.adcrumbs area */
/* The breadcrumbs scroller area */
/* The height of the page footer */
/* The width of the footers links area */
@font-face {
  font-family: "Segoe UI Light";
  src: url("/fonts/segoeuil.eot");
  src: url("/fonts/segoeuil.eot?#iefix") format("embedded-opentype"), url("/fonts/segoeuil.woff") format("woff"), url("/fonts/segoeuil.ttf") format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  overflow: hidden;
  min-width: 250px;
  min-height: 250px;
  background-color: #232323;
  font-family: 'Segoe UI', Helvetica, Arial, 'Trebuchet MS', San Serif;
  -ms-touch-action: none;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
a:active {
  color: #fff;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
/***********************************************************

                            Header            
      
***********************************************************/
.navigation {
  position: relative;
  margin: 0;
  padding: 0;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navigation ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
.navigation ul li {
  height: 100%;
}
.navigation ul:after {
  clear: both;
}
.regime-link {
  margin-right: 15px;
  margin-left: 15px;
  height: 100%;
  font-size: medium 14px;
  line-height: 36px;
}
.regime-link:hover {
  cursor: pointer;
}
#regime-link-cosmos {
  color: #FF5BEE;
}
#regime-link-earth {
  color: #C874F4;
}
#regime-link-life {
  color: #A8B3FE;
}
#regime-link-prehistory {
  color: #83BAFF;
}
#regime-link-humanity {
  color: #66D5BF;
}
#login-panel {
  height: 100%;
  color: #E9E9E9 !important;
  font-size: medium 14px;
}
#login-panel label {
  display: inline-block;
  margin-top: 8px;
  margin-left: 10px;
  color: #E9E9E9;
  vertical-align: top;
}
#login-panel[data-enabled~="true"]:hover {
  background-color: #0464a2;
}
#login-panel.active {
  background-color: #0464a2;
}
#profile-panel[data-enabled~="true"]:hover {
  background-color: #0464a2;
}
#profile-panel.active {
  background-color: #0464a2;
}
.header-logo {
  height: 36px;
  line-height: 36px;
  width: 170px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/chronozoom.png');
  margin-left: 10px;
}
.header-regimes {
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  height: 36px;
  width: 420px;
  display: none;
}
@media only screen and (max-width: 780px) {
  .header-regimes {
    height: 36px;
    width: 0px;
    display: none;
  }
}
.header-breadcrumbs {
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  height: 25px;
  width: 100%;
  display: none;
  margin-top: -8px;
}
.header-icons {
  height: 36px;
}
@media only screen and (max-width: 340px) {
  .header-icons {
    height: 36px;
    width: 0;
    display: none;
  }
}
.header-icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  background-repeat: no-repeat;
  background-position: center;
}
.header-icon.active {
  background-color: #0464a2;
}
.header-icon[data-enabled~="true"]:hover {
  background-color: #0464a2;
}
.header-icon[disabled="disabled"] {
  opacity: 0.5;
}
.header-icon[disabled="disabled"].active,
.header-icon[disabled="disabled"]:hover {
  background-color: transparent;
}
.tour-icon {
  background-image: url('../images/tour-icon.png');
}
.search-icon {
  background-image: url('../images/search-icon.png');
}
.timeSeries-icon {
  background-image: url('../images/timeseries-icon.png');
}
.view-icon {
  background-image: url('../images/view-icon.png');
  opacity: .5;
}
.edit-icon {
  background-image: url('../images/edit-icon.png');
}
.home-icon {
  background-image: url('../images/home-icon.png');
}
.profile-icon {
  background-image: url('../images/profile-icon.png');
  background-position-x: 3px;
  display: inline-block;
}
#login-panel label.header-icon-label {
  margin-left: 0px;
}
.header__edit-button:hover {
  background-color: #0464a2;
}
.header__tour-icon {
  background-image: url('../images/tour-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 36px;
  width: 36px;
  line-height: 100%;
}
/***********************************************************

                            Content

***********************************************************/
#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 36px - 25px - 25px + 8px);
  height: -moz-calc(100% - 36px - 25px - 25px + 8px);
  height: -webkit-calc(100% - 36px - 25px - 25px + 8px);
  height: -o-calc(100% - 36px - 25px - 25px + 8px);
}
#vc-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -38px;
  padding-top: 38px;
  height: 100%;
  min-height: 100%;
}
#vc {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#timeSeriesContainer {
  height: 0%;
  background-color: gray;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#timeSeriesContainer::selection {
  cursor: pointer;
}
.virtualCanvas {
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.virtualCanvasLayerDiv {
  position: absolute;
  z-index: 0;
  overflow: hidden;
}
.virtualCanvasLayerCanvas {
  position: absolute;
  left: 0;
  z-index: 0;
}
.contentItemDescription {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 10px;
  font-family: Arial;
}
.contentItemDescription .text {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
}
/***********************************************************

                        Bibliography
                   
***********************************************************/
.biblBack {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.biblOuterWindow {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 25%;
  right: 25%;
  min-width: 300px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: default;
}
.biblWindow {
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #434343;
  color: #fff;
  vertical-align: middle;
  font-size: 18.5px;
  font-family: Arial;
  cursor: default;
}
.biblWindow .closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 5005;
  width: 30px;
  height: 30px;
}
.biblWindow .title {
  overflow: hidden;
  margin-right: 60px;
  margin-left: 32px;
  padding-top: 22px;
  padding-bottom: 7px;
  border-bottom: 1px solid #DBDBDB;
  color: #fff;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  cursor: default;
}
.biblWindow .sources {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 55px 20px 13px 32px;
  padding-right: 23px;
  height: auto;
}
.biblWindow .sources .source {
  margin: 0;
  padding: 0 5px 0 5px;
  border-bottom: 1px solid #DBDBDB;
}
.biblWindow .sources .sectionTitle {
  overflow: hidden;
  margin: 0;
  padding-top: 20px;
  border-bottom: 1px solid #DBDBDB;
  color: #fff;
  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  cursor: default;
}
.biblWindow .sources .source .sourceName {
  overflow: hidden;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 12px;
  color: #DBDBDB;
  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  cursor: pointer;
}
.biblWindow .sources .source .sourceDescr {
  margin: 0 50px 25px 12px;
  padding: 12px;
  border-radius: 8px;
  background-color: #DBDBDB;
  color: #424242;
  text-align: left;
  font-size: 15px;
  cursor: auto;
}
/***********************************************************

                        Tooltip

***********************************************************/
.bubbleInfo {
  position: absolute;
  float: left;
  clear: both;
  display: block;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-position: center;
  white-space: nowrap;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#defaultBox {
  background-image: url('../images/defaultGradientBox.jpg');
}
#cosmosRegimeBox {
  background-image: url('../images/cosmosRegimeBox.jpg');
}
#earthRegimeBox {
  background-image: url('../images/earthRegimeBox.jpg');
}
#humanityRegimeBox {
  background-image: url('../images/humanityRegimeBox.jpg');
}
#lifeRegimeBox {
  background-image: url('../images/lifeRegimeBox.jpg');
}
#prehistoryRegimeBox {
  background-image: url('../images/prehistoryRegimeBox.jpg');
  background-position: center;
}
.bubbleInfo span {
  color: #fff;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.block {
  position: relative;
  display: block;
  background-color: #abc;
  white-space: nowrap;
}
/***********************************************************

                        Welcome Screen
       
***********************************************************/
.welcomeScreenBack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.welcomeScreenOuterWindow {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  height: 443px;
  min-height: 443px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: default;
  top: 50%;
  margin-top: -220px;
}
.welcomeScreen {
  position: relative;
  top: 16px;
  right: 0;
  bottom: 16px;
  left: 0;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  width: 864px;
  height: auto;
  min-height: 411px;
  border-radius: 8px;
  background-color: #3C5F96;
  color: #fff;
  vertical-align: middle;
  font-size: 18.5px;
  font-family: Arial;
  cursor: default;
}
.welcomeScreen .titleArea {
  margin-right: 22px;
  margin-left: 32px;
  border-bottom: 1px solid #DBDBDB;
}
.welcomeScreen .titleArea .closeButton {
  position: absolute;
  top: 12px;
  right: 22px;
  z-index: 5005;
  width: 30px;
  height: 30px;
}
.welcomeScreen .titleArea .title {
  overflow: hidden;
  margin-right: 60px;
  padding-top: 22px;
  padding-bottom: 7px;
  color: #fff;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  cursor: default;
}
.welcomeScreen .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  margin: 75px 32px 13px 32px;
  width: 810px;
  height: auto;
  font-size: 16px;
  font-family: Arial;
}
.welcomeScreen .content .description {
  position: absolute;
  display: inline-block;
  margin-right: 20px;
  width: 220px;
  height: 315px;
}
.welcomeScreen .content .description .button {
  margin-bottom: 10px;
  width: 220px;
  height: 36px;
  border: 1px solid #EF4136;
  background: #EA7134;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
}
.welcomeScreen .content .media {
  position: absolute;
  right: 0px;
  display: inline-block;
  width: 560px;
  height: 315px;
}
.welcomeScreen .content .media .player {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
}
/***********************************************************

                        Fallbackpage

***********************************************************/
img.fallbackBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  /* Set up positioning */

  min-width: 1024px;
  /* Set up proportionate scaling */

  /* Set rules to fill background */

  min-height: 100%;
}
@media screen and (max-width: 1024px) {
  img.fallbackBackground {
    left: 50%;
    margin-left: -512px;
  }
}
.fallbackOuterContent {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -241px;
  margin-left: -450px;
  width: 900px;
  height: 482px;
  background-image: url('../images/fallbackOuterBackground.jpg');
  background-position: top center;
  cursor: default;
}
.fallbackContent {
  position: relative;
  overflow: hidden;
  margin: 25px auto 0 auto;
  width: 864px;
  height: 432px;
  background-color: #3C5F96;
  color: White;
  vertical-align: middle;
  font-size: 18.5px;
  font-family: Arial;
  cursor: default;
}
.fallbackContent .titleArea {
  margin-right: 22px;
  margin-left: 32px;
  border-bottom: 1px solid #DBDBDB;
}
.fallbackContent .titleArea .title {
  overflow: hidden;
  margin-right: 60px;
  padding-top: 22px;
  padding-bottom: 7px;
  color: #fff;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  cursor: default;
}
.fallbackContent .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  margin: 75px 32px 13px 32px;
  width: 810px;
  height: auto;
  font-size: 16px;
  font-family: Arial;
}
.fallbackContent .content .description {
  position: absolute;
  display: inline-block;
  margin-right: 20px;
  width: 220px;
  height: 315px;
}
.fallbackContent .content .description a {
  color: #fff;
  text-decoration: underline;
  font-size: 16px;
  font-family: Arial;
}
.fallbackContent .content .description .button {
  width: 220px;
  height: 36px;
  border: 1px solid #EF4136;
  background: #EA7134;
  color: White;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
}
.fallbackContent .content .media {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 560px;
  height: 315px;
}
.fallbackContent .content .media .player {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
}
/***********************************************************

                            Footer

***********************************************************/
#footer {
  position: relative;
  height: 25px;
}
#footer ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer ul li {
  height: 100%;
}
.footer-link {
  margin-right: 10px;
  margin-left: 10px;
  height: 100%;
  color: #FFF;
  white-space: nowrap;
  line-height: 25px;
}
.footer-link:hover {
  cursor: pointer;
}
.footer-links {
  height: 25px;
  width: 350px;
  color: #AAA;
}
.footer-credits {
  height: 25px;
  width: calc(100% - 350px);
  width: -moz-calc(100% - 350px);
  width: -webkit-calc(100% - 350px);
  width: -o-calc(100% - 350px);
  color: #AAA;
}
.footer-credits ul {
  margin-top: 4px;
}
.footer-link-credits,
.footer-link-credits:visited,
.footer-link-credits:link {
  margin-right: 6px;
  margin-left: 6px;
}
.footer-link-credits img {
  margin-bottom: 3px;
}
.footer-text {
  margin-left: 6px;
  color: #AAA;
}
/***********************************************************

                        Breadcrumbs

***********************************************************/
.breadcrumbs-nav {
  width: 25px;
  height: 25px;
  color: #555;
  text-align: center;
  font-size: 14px;
  line-height: 100%;
}
.breadcrumbs-nav:hover {
  color: #999;
}
#breadcrumbs-nav-left {
  cursor: pointer;
}
#breadcrumbs-nav-right {
  cursor: pointer;
}
.breadcrumbs-container {
  overflow: hidden;
  width: calc(100% -  50px);
  width: -moz-calc(100% -  50px);
  width: -webkit-calc(100% -  50px);
  width: -o-calc(100% -  50px);
  height: 100%;
  line-height: 100%;
}
#breadcrumbs-table {
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  border-collapse: collapse;
  cellspacing: 0;
  cellpadding: 0;
  border-spacing: 0;
}
#breadcrumbs-table tr {
  position: absolute;
  height: 100%;
  white-space: nowrap;
}
#breadcrumbs-table tr td {
  margin: 0;
  padding: 0;
  height: 25px;
  white-space: nowrap;
  line-height: 100%;
}
.breadcrumb-separator {
  margin-right: 3px;
  margin-left: 3px;
  height: 100%;
  color: #bfbfbf;
  font-size: 16px;
  font-family: verdana;
  line-height: 100%;
  cursor: default;
}
.breadcrumb-link {
  position: relative;
  display: inline-block;
  height: 25px;
  font-size: 14px;
  font-family: verdana;
  line-height: 25px;
  cursor: pointer;
  color: #FFF;
}
.breadcrumb-hover {
  color: #fff;
}
/***********************************************************

                            Auxiliary

***********************************************************/
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearer {
  clear: both;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.text-selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
/***********************************************************

                        Form Base

***********************************************************/
.cz-form {
  position: absolute;
  z-index: 100000001;
  display: none;
  cursor: default;
}
.cz-form-right {
  top: 53px;
}
.cz-form-left {
  top: 53px;
}
.cz-form-header {
  position: relative;
  width: 100%;
  height: 36px;
  background-color: #0464A2;
}
.cz-form-header > ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
.cz-form-nav {
  float: left;
  margin-left: 15px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  cursor: pointer;
}
.cz-form-title {
  float: left;
  margin-left: 15px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
}
.cz-form-close-btn {
  float: right;
  margin-right: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.cz-form-min-btn {
  float: right;
  margin-right: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.cz-form-btn {
  cursor: pointer;
  border: none;
  color: #fff;
}
.cz-form-content {
  position: absolute;
  padding: 15px;
  background-color: #fff;
  text-align: justify;
}
.cz-input-wrapper input.error {
  border: 1px solid #ff4800;
}
.cz-input-wrapper div.error {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
  margin-top: 10px;
  min-height: 29px;
  font-size: 1em;
  line-height: 2em;
}
.cz-input {
  color: #232323;
  background-color: #E9E9E9;
  border: 1px solid #D5D5D5;
  padding: 5px;
  font-size: 12px;
  font-family: 'Segoe UI', Helvetica, Arial, 'Trebuchet MS', 'San Serif';
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cz-form-required-field-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.cz-button {
  margin: 5px 0;
  cursor: pointer;
  border: none;
  color: #fff;
  min-width: 150px;
  font-size: 12px;
  padding: 10px 5px;
  font-family: 'Segoe UI', Helvetica, Arial, 'Trebuchet MS', 'San Serif';
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#1B6AAB', EndColorStr='#0E4073', GradientType=0);
  /* IE10 Consumer Preview */

  background-image: -ms-linear-gradient(bottom, #0e4073 0%, #1b6aab 100%);
  /* Mozilla Firefox */

  background-image: -moz-linear-gradient(bottom, #0e4073 0%, #1b6aab 100%);
  /* Opera */

  background-image: -o-linear-gradient(bottom, #0e4073 0%, #1b6aab 100%);
  /* Webkit (Safari/Chrome 10) */

  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0e4073), color-stop(1, #1b6aab));
  /* Webkit (Chrome 11+) */

  background-image: -webkit-linear-gradient(bottom, #0e4073 0%, #1b6aab 100%);
  /* W3C Markup, IE10 Release Preview */

  background-image: linear-gradient(to top, #0e4073 0%, #1b6aab 100%);
}
.cz-radiobutton + label {
  margin-right: 25px;
}
.blocking-layer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
}
.truncateText {
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-form-errormsg {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
  margin-top: 10px;
  padding: 8px 10px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1em;
  display: block;
}
.cz-lightgray {
  color: #aeaeae;
}
.cz-gray {
  color: #e9e9e9;
}
.cz-darkgray {
  color: #232323;
}
.cz-darkblue {
  color: #0464a2;
}
.cz-lightblue {
  color: #038ae6;
}
.cz-red {
  color: #dd4b39;
}
.cz-form-label {
  margin: 5px 0;
  display: inline-block;
}
/***********************************************************

                        Custom Forms

***********************************************************/
/* Header Edit Form */
.cz-header-edit-form {
  right: 0px;
  width: 330px;
}
/* Message Window */
.cz-message-window {
  width: 330px;
  height: auto;
  left: 0;
}
.cz-message-window > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
/* Edit Tour Form */
.cz-form-tour-edit {
  width: 415px;
  bottom: 25px;
  left: 0;
}
.cz-form-tour-edit > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.cz-form-tour-contentitem-listitem-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.cz-form-tour-contentitem-listitem-icon > img {
  width: 50px;
  height: 50px;
}
.cz-contentitem-listitem-tourstop {
  width: 185px;
  display: inline-block;
  margin: 0px 5px;
  vertical-align: top;
}
.cz-tourstop-description {
  display: block;
  height: 100px;
  width: 100%;
  resize: none;
}
/* Tours List Form */
.cz-tourlist-form {
  min-width: 380px;
  max-width: 450px;
  width: 30.2734375%;
  /* 310 / 1024 */

  right: 0px;
  bottom: 25px;
}
.cz-tourlist-form > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.cz-tourlist-form > .cz-form-content > #tours {
  display: block;
  min-height: 200px;
}
/* Edit Timeline Form */
.cz-form-timeline {
  min-width: 380px;
  max-width: 450px;
  width: 30.2734375%;
  /* 310 / 1024 */

  bottom: 25px;
  left: 0;
}
.cz-form-timeline > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
/* Edit Exhibit Form */
.cz-form-exhibit {
  width: 420px;
  bottom: 25px;
  left: 0;
}
.cz-form-exhibit > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
/* Edit Content Item Form */
.cz-form-contentitem {
  width: 420px;
  bottom: 25px;
  left: 0;
}
.cz-form-contentitem > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
/* Profile Form */
#profile-form {
  right: 0;
  width: 304px;
  background-color: #f5f5f5;
  font-size: 14px;
}
#profile-form div.czform_cb_div label {
  margin-left: 2em;
}
#profile-form a:link {
  color: #25a1ea;
}
#profile-form a:visited {
  color: #25a1ea;
}
#profile-form div.czform_text {
  color: black;
}
#profile-form label {
  display: block;
  margin-left: 2px;
}
#profile-form input[type=text] {
  min-width: 270px;
}
#profile-form input[type=checkbox] {
  float: left;
  margin-left: 0px;
  padding: 6px;
  color: #fff;
}
#profile-form div.cz-form-content div {
  clear: both;
  margin-bottom: 14px;
  margin-left: 0px;
}
#profile-form button.cz-form-save {
  width: 134px;
  color: #fff;
}
.auth-panel-login {
  display: inline-block;
  margin-top: 8px;
  margin-left: 10px;
  color: #E9E9E9;
  vertical-align: top;
}
/* Login Form */
#login-form {
  right: 0px;
  width: 304px;
  font-size: 14px;
}
#login-form div.cz-form-content div {
  clear: both;
  margin-bottom: 14px;
  margin-left: 0;
}
#login-form div.cz-form-content {
  width: 304px;
}
#cz-form-logout,
#cz-form-save {
  width: 134px;
}
/* TimSeries Data Form */
#timeSeriesDataForm {
  right: 0px;
  width: 500px;
}
#existingTimeSeries {
  padding: 0;
}
.cz-preloaded-timeseries {
  margin: 2px;
  padding: 0px;
  text-align: left;
  width: 200px;
  color: #0388E5;
}
.cz-preloaded-timeseries :hover {
  color: #58B7F9;
}
/* Session expired */
.cz-session-expired {
  height: 140px;
  width: 330px;
}
.cz-session-expired > .cz-form-content {
  width: 300px;
}
.cz-session-expired a:link {
  color: #465c71;
  text-decoration: none;
}
.cz-session-expired a:visited {
  color: #465c71;
  text-decoration: none;
}
/* Search Form */
.cz-header-search-form {
  min-width: 380px;
  max-width: 450px;
  width: 30.2734375%;
  bottom: 25px;
  left: 0;
}
.cz-header-search-form > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}
.cz-form-progress-bar {
  display: block;
  width: 100%;
  height: 15px;
  vertical-align: top;
  margin-top: 8px;
  margin-bottom: 8px;
}
.cz-form-content-box {
  font-size: 14px;
  font-family: 'Segoe UI', Helvetica, Arial, 'Trebuchet MS', 'San Serif';
  vertical-align: top;
  height: 100%;
}
.cz-form-search-results {
  margin-top: 24px;
  position: relative;
  overflow-y: auto;
  height: 100%;
}
.cz-form-search-section {
  margin-top: 0px;
  margin-bottom: 24px;
}
.cz-form-search-section-title {
  margin-top: 0px;
  color: #232323;
  border-bottom: 1px solid #232323;
}
.cz-form-search-result {
  margin: 8px 0;
  width: auto;
  color: #038ae6;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-form-search-results-count {
  color: #232323;
}
/* Tour Caption Form */
.cz-tour-caption-form {
  width: 300px;
  height: 450px;
  top: 91px;
  left: 0;
  z-index: 100000000;
}
.cz-tour-caption-form > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}
.cz-form-tour-caption {
  padding-right: 10px;
  width: 100%;
  height: 285px;
  overflow-y: auto;
  text-align: left;
}
.cz-form-tour-bookmarks-count {
  margin-top: 10px;
  text-align: center;
}
.cz-form-tour-player {
  padding: 5px;
  background-color: #e9e9e9;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 36px;
  width: 70%;
}
.cz-form-tour-player-icon {
  width: 36px;
  height: 36px;
}
.cz-tour-form-title {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 80px;
  margin-right: 80px;
  margin-left: 15px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
}
.cz-tour-form-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.cz-tour-form-min-btn {
  position: absolute;
  right: 25px;
  top: 0;
  margin-right: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
/* Tour Player Icons. */
.cz-form-prev-icon {
  background-image: url(../images/tour-prev.png);
}
.cz-form-play-pause-icon[state=play] {
  margin-left: 15px;
  background-image: url(../images/tour-play.png);
}
.cz-form-play-pause-icon[state=pause] {
  margin-left: 15px;
  background-image: url(../images/tour-pause.png);
}
.cz-form-next-icon {
  margin-left: 15px;
  background-image: url(../images/tour-next.png);
}
.cz-form-vol-icon[state=on] {
  margin-left: 15px;
  background-image: url(../images/narration-on.png);
}
.cz-form-vol-icon[state=off] {
  margin-left: 15px;
  background-image: url(../images/narration-off.png);
}
/***********************************************************

                    ListBox Base

***********************************************************/
.cz-listbox {
  margin: 15px 0;
  padding: 10px;
  background-color: #e9e9e9;
  list-style-type: none;
  border: solid 2px #c7c7c7;
  height: 200px;
  overflow: auto;
}
.cz-listbox-nocontainer {
  margin: 15px 0;
  list-style-type: none;
  height: 200px;
  overflow: auto;
}
.cz-listbox-placeholder {
  margin: 5px 10px;
  padding: 10px;
  height: auto;
  border: solid 2px #0464a2;
  background-color: #e9e9e9;
}
.cz-listitem {
  clear: both;
  margin: 5px 10px;
  padding: 10px;
  height: auto;
  background-color: #fff;
  border: solid 2px #c7c7c7;
  background-image: -ms-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9e9e9), color-stop(1, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #e9e9e9 0%, #ffffff 100%);
}
.cz-listitem-close-btn {
  width: 10px;
  float: right;
  cursor: pointer;
  font-size: 14px;
}
/***********************************************************

                ContentItem ListBox

***********************************************************/
.cz-contentitem-listitem-icon {
  width: 15%;
  display: inline-block;
}
.cz-contentitem-listitem-icon > img {
  width: 100%;
  height: auto;
}
.cz-contentitem-listitem-content {
  display: inline-block;
  margin: 0px 5px;
  vertical-align: top;
  width: 75%;
}
.cz-contentitem-listitem-title {
  margin: 0 0 10px 0;
  color: #232323;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-contentitem-listitem-descr {
  margin: 0;
  color: #aeaeae;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-contentitem-listitem-highlighted {
  margin: 0;
  color: #3bb6f3;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-contentitem-listitem-button {
  margin: 0;
  color: #3bb6f3;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  width: auto;
  display: inline;
}
