.cz-timescale {
  padding-bottom: 0px;
  font-size: large;
  font-weight: 500;
  background-color: #0388E5;
  overflow: hidden;
  cursor: default;
  width: 100%;
  height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .75em;
  color: white;
  position: relative;
  overflow: visible;
}
.cz-timescale > canvas {
  position: absolute;
  bottom: 0px;
}
.cz-timescale-panel {
  position: absolute;
  display: table;
  z-index: 100;
  top: 0px;
  height: 100%;
  width: 185px;
  background-color: #0388E5;
  font-size: large;
  text-align: center;
}
.cz-timescale-left {
  left: 0px;
  border-right: 5px solid #58B7F9;
}
.cz-timescale-left p {
  display: table-cell;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.timescale_right_border_input {
  color: white;
  display: table-cell;
  background-color: #0388E5;
  width: 185px;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.timescale_left_border_input {
  color: white;
  display: table-cell;
  background-color: #0388E5;
  width: 185px;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.cz-timescale-right {
  right: 0px;
  border-left: 5px solid #58B7F9;
}
.cz-timescale-right p {
  display: table-cell;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.cz-timescale-labels-container {
  position: absolute;
  bottom: 16px;
}
.cz-timescale-label {
  position: absolute;
  display: block;
  float: left;
  white-space: nowrap;
}
.cz-timescale-marker {
  z-index: 150;
  display: table;
  position: absolute;
  height: 100%;
  width: auto;
  background-color: transparent;
  top: 0px;
}
.cz-timescale-marker div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 24px;
  padding: 5px 15px;
  background-color: #00538D;
  line-height: 100%;
  font-size: 15px;
}
.cz-timescale-marker-triangle {
  position: absolute;
  bottom: 0;
  border-top: 14px solid   #00538D;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -14px;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cz-datepicker-mode {
  display: inline-block;
  width: 80px;
  margin-right: 20px;
}
.cz-datepicker-container {
  display: inline-block;
  float: right;
}
.cz-datepicker-container:after {
  clear: both;
}
.cz-datepicker-regime {
  height: 30px;
  margin-left: 10px;
}
.cz-datepicker-year-year {
  height: 30px;
  width: 80px;
}
.cz-datepicker-year-date {
  height: 30px;
  width: 50px;
}
.cz-datepicker-day-selector {
  height: 30px;
  max-height: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
.cz-datepicker-month-selector {
  height: 30px;
}
.cz-datepicker-errormsg {
  color: #dd4b39;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  overflow: hidden;
  min-width: 950px;
  min-height: 250px;
  background-color: #232323;
  font-family: 'Segoe UI', Helvetica, Arial, 'Trebuchet MS', San Serif;
  -ms-touch-action: none;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
a:active {
  color: #fff;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
/***********************************************************

                            Header            
      
***********************************************************/
#header {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  height: 36px;
}
#header ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
#header ul li {
  height: 100%;
}
#header ul:after {
  clear: both;
}
.regime-link {
  margin-right: 15px;
  margin-left: 15px;
  height: 100%;
  font-size: medium 14px;
  line-height: 36px;
}
.regime-link:hover {
  cursor: pointer;
}
#regime-link-cosmos {
  color: #FF5BEE;
}
#regime-link-earth {
  color: #C874F4;
}
#regime-link-life {
  color: #A8B3FE;
}
#regime-link-prehistory {
  color: #83BAFF;
}
#regime-link-humanity {
  color: #66D5BF;
}
#login-panel {
  height: 100%;
  color: #E9E9E9 !important;
  font-size: medium 14px;
}
#login-panel label {
  display: inline-block;
  margin-top: 8px;
  margin-left: 10px;
  color: #E9E9E9;
  vertical-align: top;
}
#login-panel[data-enabled~="true"]:hover {
  background-color: #0464a2;
}
#login-panel.active {
  background-color: #0464a2;
}
#profile-panel[data-enabled~="true"]:hover {
  background-color: #0464a2;
}
#profile-panel.active {
  background-color: #0464a2;
}
.header-logo {
  height: 36px;
  line-height: 36px;
  width: 200px;
  margin-right: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/chronzoom-200px-white.png');
}
.header-icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  background-repeat: no-repeat;
  background-position: center;
}
.header-icon[data-enabled~="true"]:hover {
  background-color: #0464a2;
}
.header-icon.active {
  background-color: #0464a2;
}
.tour-icon {
  background-image: url('../images/tour-icon.png');
}
.search-icon {
  background-image: url('../images/search-icon.png');
}
.timeSeries-icon {
  background-image: url('../images/timseries-icon.png');
}
.view-icon {
  background-image: url('../images/view-icon.png');
  opacity: .5;
}
.edit-icon {
  background-image: url('../images/edit-icon.png');
}
.profile-icon {
  background-image: url('../images/profile-icon.png');
  display: inline-block;
}
.header__edit-button:hover {
  background-color: #0464a2;
}
.header__tour-icon {
  background-image: url('../images/tour-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 36px;
  width: 36px;
  line-height: 100%;
}
/***********************************************************

                            Content

***********************************************************/
#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -36px;
  margin-bottom: -25px;
  padding-top: 36px;
  padding-bottom: 25px;
  height: 100%;
  min-height: 100%;
}
#vc-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -38px;
  padding-top: 38px;
  height: 100%;
  min-height: 100%;
}
#vc {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url('/images/background.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#timeSeriesContainer {
  height: 0%;
  background-color: gray;
}
.virtualCanvas {
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.virtualCanvasLayerDiv {
  position: absolute;
  z-index: 0;
  overflow: hidden;
}
.virtualCanvasLayerCanvas {
  position: absolute;
  left: 0;
  z-index: 0;
}
.contentItemDescription {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 10px;
  font-family: Arial;
}
.contentItemDescription .text {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
}
.tour_control {
  display: none;
  margin: 5px;
  width: 190px;
  cursor: pointer;
}
/***********************************************************

                        Bibliography
                   
***********************************************************/
.biblBack {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.biblOuterWindow {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 25%;
  right: 25%;
  min-width: 300px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: default;
}
.biblWindow {
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #434343;
  color: #fff;
  vertical-align: middle;
  font-size: 18.5px;
  font-family: Arial;
  cursor: default;
}
.biblWindow .closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 5005;
  width: 30px;
  height: 30px;
}
.biblWindow .title {
  overflow: hidden;
  margin-right: 60px;
  margin-left: 32px;
  padding-top: 22px;
  padding-bottom: 7px;
  border-bottom: 1px solid #DBDBDB;
  color: #fff;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  cursor: default;
}
.biblWindow .sources {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 55px 20px 13px 32px;
  padding-right: 23px;
  height: auto;
}
.biblWindow .sources .source {
  margin: 0;
  padding: 0 5px 0 5px;
  border-bottom: 1px solid #DBDBDB;
}
.biblWindow .sources .sectionTitle {
  overflow: hidden;
  margin: 0;
  padding-top: 20px;
  border-bottom: 1px solid #DBDBDB;
  color: #fff;
  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  cursor: default;
}
.biblWindow .sources .source .sourceName {
  overflow: hidden;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 12px;
  color: #DBDBDB;
  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  cursor: pointer;
}
.biblWindow .sources .source .sourceDescr {
  margin: 0 50px 25px 12px;
  padding: 12px;
  border-radius: 8px;
  background-color: #DBDBDB;
  color: #424242;
  text-align: left;
  font-size: 15px;
  cursor: auto;
}
.czWindow {
  position: absolute;
  top: 144px;
  left: 0;
  z-index: 2000;
  margin-bottom: 0;
  margin-left: 0;
  width: 220px;
  border-bottom-right-radius: 8px;
  background-color: #424242;
  color: #BFBFBF;
  font-size: 14.5px;
  font-family: Arial;
}
.czWindow .header {
  padding: 4px 0 2px 14px;
  width: 167px;
  background: #515151;
  /* for non-css3 browsers */

  background: -moz-linear-gradient(left, #fdfdfd, #515151);
  /* Mozilla: */

  background: -webkit-gradient(linear, left top, right top, from(#fdfdfd), to(#424242));
  /* Chrome, Safari:*/

  color: #424242;
  vertical-align: middle;
  font-size: 19px;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FDFDFD', EndColorStr='#424242', GradientType=1);
  /* MSIE */

}
.czWindow .czTextBox {
  margin: 3px 5px 3px 5px;
  height: 20px;
  border: 1px solid #BFBFBF;
  background-color: #424242;
  color: #fff;
  font-size: 12px;
  font-family: Arial;
}
.czWindow .czTextBox:focus {
  border: 1px solid #fff;
}
.czWindow .emptyTextBox {
  color: #BFBFBF;
  font-style: italic;
  font-size: 12px;
  font-family: Arial;
}
.czWindow .narration {
  margin-right: 15px;
  margin-left: 5px;
  padding-top: 10px;
  width: 181px;
  border-bottom: none;
  /*1px solid #424242;*/

  text-align: center;
  font-size: 13px;
  cursor: pointer;
}
.czWindow .narration-selected {
  color: #fff;
}
.czWindow .content {
  margin: 10px 13px 0 10px;
  width: 196px;
  border-bottom: 1px solid #424242;
}
.czWindow .content .category {
  margin-right: 13px;
  margin-bottom: 10px;
  width: 196px;
  border-bottom: 2px solid #BFBFBF;
  vertical-align: middle;
  cursor: pointer;
}
.czWindow .content .category:hover {
  color: #fff;
}
.czWindow .content .collapseButton {
  position: absolute;
  left: 194px;
}
.czWindow .content .categorySelected {
  margin-right: 13px;
  margin-bottom: 10px;
  width: 196px;
  border-bottom: none;
  vertical-align: middle;
  cursor: pointer;
}
.czWindow .content .categorySelected:hover {
  color: #fff;
}
.czWindow .content .itemContainer {
  margin-right: 15px;
  margin-left: 5px;
  padding-bottom: 10px;
  width: 181px;
  border-bottom: none;
  /*1px solid #424242;*/

}
.czWindow .content .itemContainer .item {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.czWindow .content .itemContainer .item:hover {
  color: #fff;
}
.czWindow .content .itemContainer .touritem-selected {
  color: #fff;
}
.czWindow .searchResults {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 15px 10px 10px;
  border-bottom: none;
  /*1px solid #424242;*/

}
.czWindow .searchResults .searchResultSection {
  overflow: hidden;
  margin: 5px 10px 5px 0;
  padding: 0;
  border-bottom: 1px solid #BFBFBF;
  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  cursor: default;
}
.czWindow .searchResults .searchResult {
  overflow: hidden;
  margin-right: 10px;
  margin-left: 7px;
  padding: 0;
  border-bottom: none;
  /*1px solid #424242;*/

  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  cursor: pointer;
}
.czWindow .searchResults .searchResult:hover {
  color: #fff;
}
.czWindow .searchResults .searchNoResult {
  overflow: hidden;
  margin-right: 10px;
  padding: 0;
  border-bottom: none;
  /*1px solid #424242;*/

  text-align: left;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: italic;
  font-size: 13px;
  cursor: default;
}
.bookmarksWindow {
  position: absolute;
  bottom: 44px;
  left: 0;
  z-index: 1999;
  margin-left: 0;
  width: 200px;
  min-height: 200px;
  max-height: 410px;
  border-top-right-radius: 8px;
  background-color: #424242;
  color: #BFBFBF;
  font-size: 14.5px;
  font-family: Arial;
}
.bookmarksWindow .header {
  padding: 10px 6px 9px 5px;
  padding-right: 6px;
  padding-left: 5px;
  border-bottom: 2px solid #BFBFBF;
  color: #fff;
  font-size: 14.5px;
  cursor: default;
}
.bookmarksWindow .headerButton {
  position: absolute;
  top: 9px;
  right: 12px;
}
.bookmarksWindow .slideHeader {
  margin-right: 19px;
  margin-left: 10px;
  padding: 5px 6px 10px 4px;
  color: White;
  font-size: 14.5px;
  cursor: default;
}
.bookmarksWindow .slideText {
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: 19px;
  margin-left: 15px;
  padding: 5px 3px 5px 3px;
  max-height: 250px;
  color: #BFBFBF;
  font-size: 13px;
}
.bookmarksWindow .slideFooter {
  margin: 20px 19px 0 10px;
  padding: 5px 0 13px 4px;
  height: 15px;
  border-top: 1px solid #BFBFBF;
  color: #fff;
  text-align: right;
  font-size: 12px;
  cursor: default;
}
/***********************************************************

                        Tooltip

***********************************************************/
.bubbleInfo {
  position: absolute;
  float: left;
  clear: both;
  display: block;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-position: center;
  white-space: nowrap;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#defaultBox {
  background-image: url('../images/defaultGradientBox.jpg');
}
#cosmosRegimeBox {
  background-image: url('../images/cosmosRegimeBox.jpg');
}
#earthRegimeBox {
  background-image: url('../images/earthRegimeBox.jpg');
}
#humanityRegimeBox {
  background-image: url('../images/humanityRegimeBox.jpg');
}
#lifeRegimeBox {
  background-image: url('../images/lifeRegimeBox.jpg');
}
#prehistoryRegimeBox {
  background-image: url('../images/prehistoryRegimeBox.jpg');
  background-position: center;
}
.bubbleInfo span {
  color: #fff;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.block {
  position: relative;
  display: block;
  background-color: #abc;
  white-space: nowrap;
}
/***********************************************************

                        Welcome Screen
       
***********************************************************/
.welcomeScreenBack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.welcomeScreenOuterWindow {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  height: 443px;
  min-height: 443px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: default;
  top: 50%;
  margin-top: -220px;
}
.welcomeScreen {
  position: relative;
  top: 16px;
  right: 0;
  bottom: 16px;
  left: 0;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  width: 864px;
  height: auto;
  min-height: 411px;
  border-radius: 8px;
  background-color: #3C5F96;
  color: #fff;
  vertical-align: middle;
  font-size: 18.5px;
  font-family: Arial;
  cursor: default;
}
.welcomeScreen .titleArea {
  margin-right: 22px;
  margin-left: 32px;
  border-bottom: 1px solid #DBDBDB;
}
.welcomeScreen .titleArea .closeButton {
  position: absolute;
  top: 12px;
  right: 22px;
  z-index: 5005;
  width: 30px;
  height: 30px;
}
.welcomeScreen .titleArea .title {
  overflow: hidden;
  margin-right: 60px;
  padding-top: 22px;
  padding-bottom: 7px;
  color: #fff;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  cursor: default;
}
.welcomeScreen .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  margin: 75px 32px 13px 32px;
  width: 810px;
  height: auto;
  font-size: 16px;
  font-family: Arial;
}
.welcomeScreen .content .description {
  position: absolute;
  display: inline-block;
  margin-right: 20px;
  width: 220px;
  height: 315px;
}
.welcomeScreen .content .description .button {
  margin-bottom: 10px;
  width: 220px;
  height: 36px;
  border: 1px solid #EF4136;
  background: #EA7134;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
}
.welcomeScreen .content .media {
  position: absolute;
  right: 0px;
  display: inline-block;
  width: 560px;
  height: 315px;
}
.welcomeScreen .content .media .player {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
}
/***********************************************************

                        Fallbackpage

***********************************************************/
img.fallbackBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  /* Set up positioning */

  min-width: 1024px;
  /* Set up proportionate scaling */

  /* Set rules to fill background */

  min-height: 100%;
}
@media screen and (max-width: 1024px) {
  img.fallbackBackground {
    left: 50%;
    margin-left: -512px;
  }
}
.fallbackOuterContent {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -241px;
  margin-left: -450px;
  width: 900px;
  height: 482px;
  background-image: url('../images/fallbackOuterBackground.jpg');
  background-position: top center;
  cursor: default;
}
.fallbackContent {
  position: relative;
  overflow: hidden;
  margin: 25px auto 0 auto;
  width: 864px;
  height: 432px;
  background-color: #3C5F96;
  color: White;
  vertical-align: middle;
  font-size: 18.5px;
  font-family: Arial;
  cursor: default;
}
.fallbackContent .titleArea {
  margin-right: 22px;
  margin-left: 32px;
  border-bottom: 1px solid #DBDBDB;
}
.fallbackContent .titleArea .title {
  overflow: hidden;
  margin-right: 60px;
  padding-top: 22px;
  padding-bottom: 7px;
  color: #fff;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  cursor: default;
}
.fallbackContent .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  margin: 75px 32px 13px 32px;
  width: 810px;
  height: auto;
  font-size: 16px;
  font-family: Arial;
}
.fallbackContent .content .description {
  position: absolute;
  display: inline-block;
  margin-right: 20px;
  width: 220px;
  height: 315px;
}
.fallbackContent .content .description a {
  color: #fff;
  text-decoration: underline;
  font-size: 16px;
  font-family: Arial;
}
.fallbackContent .content .description .button {
  width: 220px;
  height: 36px;
  border: 1px solid #EF4136;
  background: #EA7134;
  color: White;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
}
.fallbackContent .content .media {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 560px;
  height: 315px;
}
.fallbackContent .content .media .player {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
}
/***********************************************************

                            Footer

***********************************************************/
#footer {
  position: relative;
  height: 25px;
}
#footer ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer ul li {
  height: 100%;
}
.footer-link {
  margin-right: 20px;
  margin-left: 20px;
  height: 100%;
  color: #FFF;
  white-space: nowrap;
  line-height: 25px;
}
.footer-link:hover {
  cursor: pointer;
}
/***********************************************************

                        Breadcrumbs

***********************************************************/
.breadcrumbs-nav {
  width: 25px;
  height: 25px;
  color: #BFBFBF;
  text-align: center;
  font-size: 20px;
  line-height: 100%;
}
.breadcrumbs-nav:hover {
  color: #fff;
}
#breadcrumbs-nav-left {
  display: none;
  cursor: pointer;
}
#breadcrumbs-nav-right {
  display: none;
  cursor: pointer;
}
.breadcrumbs-container {
  overflow: hidden;
  width: 50%;
  height: 100%;
  line-height: 100%;
}
#breadcrumbs-table {
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  border-collapse: collapse;
  cellspacing: 0;
  cellpadding: 0;
  border-spacing: 0;
}
#breadcrumbs-table tr {
  position: absolute;
  height: 100%;
  white-space: nowrap;
}
#breadcrumbs-table tr td {
  margin: 0;
  padding: 0;
  height: 25px;
  white-space: nowrap;
  line-height: 100%;
}
.breadcrumb-separator {
  margin-right: 3px;
  margin-left: 3px;
  height: 100%;
  color: #bfbfbf;
  font-size: 12.5px;
  font-family: verdana;
  line-height: 100%;
  cursor: default;
}
.breadcrumb-link {
  position: relative;
  display: inline-block;
  height: 25px;
  font-size: 12.5px;
  font-family: verdana;
  line-height: 25px;
  cursor: pointer;
  color: lightgrey;
}
.breadcrumb-cosmos {
  color: #986C9D;
}
.breadcrumb-earth {
  color: #517F95;
}
.breadcrumb-life {
  color: #499649;
}
.breadcrumb-prehistory {
  color: #ED9132;
}
.breadcrumb-humanity {
  color: #D45C46;
}
.breadcrumb-hover {
  color: #fff;
}
/***********************************************************

                            Auxiliary

***********************************************************/
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearer {
  clear: both;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.text-selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
/***********************************************************

                        Form Base

***********************************************************/
.cz-form {
  position: absolute;
  top: 36px;
  z-index: 100000001;
  display: none;
  cursor: default;
}
.cz-form-header {
  position: relative;
  width: 100%;
  height: 36px;
  background-color: #0464A2;
}
.cz-form-header > ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
.cz-form-nav {
  float: left;
  margin-left: 15px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  cursor: pointer;
}
.cz-form-title {
  float: left;
  margin-left: 15px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
}
.cz-form-close-btn {
  float: right;
  margin-right: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.cz-form-btn {
  cursor: pointer;
  border: none;
  color: #fff;
}
.cz-form-content {
  position: absolute;
  padding: 15px;
  background-color: #fff;
  text-align: justify;
}
.cz-input {
  color: #232323;
  background-color: #E9E9E9;
  border: 1px solid #D5D5D5;
  padding: 5px;
  font-size: 12px;
  font-family: 'Segoe UI', Helvetica, Arial, 'Trebuchet MS', 'San Serif';
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cz-form-required-field-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.cz-button {
  margin: 5px 0;
  cursor: pointer;
  border: none;
  color: #fff;
  min-width: 150px;
  font-size: 12px;
  line-height: 36px;
  padding: 0 5px;
  /* IE9 */

  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#1B6AAB', EndColorStr='#0E4073', GradientType=0);
  /* IE10 Consumer Preview */

  background-image: -ms-linear-gradient(bottom, #0e4073 0%, #1b6aab 100%);
  /* Mozilla Firefox */

  background-image: -moz-linear-gradient(bottom, #0e4073 0%, #1b6aab 100%);
  /* Opera */

  background-image: -o-linear-gradient(bottom, #0e4073 0%, #1b6aab 100%);
  /* Webkit (Safari/Chrome 10) */

  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0e4073), color-stop(1, #1b6aab));
  /* Webkit (Chrome 11+) */

  background-image: -webkit-linear-gradient(bottom, #0e4073 0%, #1b6aab 100%);
  /* W3C Markup, IE10 Release Preview */

  background-image: linear-gradient(to top, #0e4073 0%, #1b6aab 100%);
}
.cz-header-edit-form {
  right: 0px;
  width: 330px;
}
.cz-form-tour-edit {
  min-width: 380px;
  max-width: 450px;
  width: 30.2734375%;
  /* 310 / 1024 */

  bottom: 25px;
  left: 0;
}
.cz-form-tour-edit > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.cz-form-tour-contentitem-listitem-icon {
  display: inline-block;
  width: 15%;
}
.cz-form-tour-contentitem-listitem-icon > img {
  width: 50px;
  height: 50px;
}
.cz-tourlist-form {
  min-width: 380px;
  max-width: 450px;
  width: 30.2734375%;
  /* 310 / 1024 */

  right: 0px;
  bottom: 25px;
}
.cz-tourlist-form > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.cz-tourlist-form > .cz-form-content > #tours {
  display: block;
  min-height: 200px;
}
.cz-form-timeline {
  min-width: 380px;
  max-width: 450px;
  width: 30.2734375%;
  /* 310 / 1024 */

  bottom: 25px;
  left: 0;
}
.cz-form-timeline > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.cz-form-exhibit {
  min-width: 380px;
  max-width: 450px;
  width: 30.2734375%;
  /* 310 / 1024 */

  bottom: 25px;
  left: 0;
}
.cz-form-exhibit > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.cz-form-contentitem {
  min-width: 380px;
  max-width: 450px;
  width: 30.2734375%;
  /* 310 / 1024 */

  bottom: 25px;
  left: 0;
}
.cz-form-contentitem > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.blocking-layer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
}
.truncateText {
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-form-errormsg {
  color: #dd4b39;
  display: block;
}
.cz-lightgray {
  color: #aeaeae;
}
.cz-form-label {
  margin: 5px 0;
  display: inline-block;
}
/***********************************************************

                    ListBox Base

***********************************************************/
.cz-listbox {
  margin: 15px 0;
  padding: 10px;
  background-color: #e9e9e9;
  list-style-type: none;
  border: solid 2px #c7c7c7;
  height: 200px;
  overflow: auto;
}
.cz-listbox-nocontainer {
  margin: 15px 0;
  list-style-type: none;
  height: 200px;
  overflow: auto;
}
.cz-listbox-placeholder {
  margin: 5px 10px;
  padding: 10px;
  height: auto;
  border: solid 2px #0464a2;
  background-color: #e9e9e9;
}
.cz-listitem {
  clear: both;
  margin: 5px 10px;
  padding: 10px;
  height: auto;
  background-color: #fff;
  border: solid 2px #c7c7c7;
  background-image: -ms-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9e9e9), color-stop(1, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #e9e9e9 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #e9e9e9 0%, #ffffff 100%);
}
.cz-listitem-close-btn {
  float: right;
  cursor: pointer;
  font-size: 14px;
}
/***********************************************************

                ContentItem ListBox

***********************************************************/
.cz-contentitem-listitem-icon {
  display: inline-block;
  width: 15%;
}
.cz-contentitem-listitem-icon > img {
  max-width: 100%;
}
.cz-contentitem-listitem-content {
  display: inline-block;
  margin: 0px 5px;
  vertical-align: top;
  width: 75%;
}
.cz-contentitem-listitem-title {
  margin: 0 0 10px 0;
  color: #232323;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-contentitem-listitem-descr {
  margin: 0;
  color: #aeaeae;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-contentitem-listitem-highlighted {
  margin: 0;
  color: #3bb6f3;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cz-contentitem-listitem-button {
  margin: 0;
  color: #3bb6f3;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  width: auto;
  display: inline;
}
/***********************************************************

                Registration Forms

***********************************************************/
/* Profile Form */
#profile-form {
  right: 0;
  width: 304px;
  background-color: #f5f5f5;
  font-size: 14px;
}
#profile-form div.czform_cb_div label {
  margin-left: 2em;
}
#profile-form a:link {
  color: #25a1ea;
}
#profile-form a:visited {
  color: #25a1ea;
}
#profile-form div.czform_text {
  color: black;
}
#profile-form label {
  display: block;
  margin-left: 2px;
}
#profile-form input[type=text] {
  min-width: 270px;
}
#profile-form input[type=checkbox] {
  float: left;
  margin-left: 0px;
  padding: 6px;
  color: #fff;
}
#profile-form div.cz-form-content div {
  clear: both;
  margin-bottom: 14px;
  margin-left: 0px;
}
#profile-form button.cz-form-save {
  width: 134px;
  color: #fff;
}
.auth-panel-login {
  display: inline-block;
  margin-top: 8px;
  margin-left: 10px;
  color: #E9E9E9;
  vertical-align: top;
}
/* Login Form */
#login-form {
  right: 0px;
  width: 304px;
  font-size: 14px;
}
#login-form div.cz-form-content div {
  clear: both;
  margin-bottom: 14px;
  margin-left: 0;
}
#login-form div.cz-form-content {
  width: 304px;
}
#cz-form-logout,
#cz-form-save {
  width: 134px;
}
/* TimSeries Data Form */
#timeSeriesDataForm {
  right: 0px;
  width: 500px;
}
#existingTimeSeries {
  padding: 0;
}
.cz-preloaded-timeseries {
  margin: 2px;
  padding: 0px;
  text-align: left;
  width: 200px;
  color: #0388E5;
}
.cz-preloaded-timeseries :hover {
  color: #58B7F9;
}
