/***********************************************************

                        Media List
      
***********************************************************/
.cz-medialist {
  padding: 5px;
  border: solid 2px #c7c7c7;
  background-color: #e9e9e9;
}
.cz-medialist-item {
  display: inline-block;
  margin: 5px;
}
.cz-medialist-item-icon {
  display: block;
}
/***********************************************************

                    Custom Media Pickers
      
***********************************************************/
/* Bing Media Picker */
.cz-form-bing-mediapicker {
  width: 75%;
  bottom: 25px;
  left: 0;
}
.cz-form-bing-mediapicker > .cz-form-content {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.cz-bing-search-input {
  display: inline-block;
  width: 400px;
  margin: 0 25px 10px 0;
}
.cz-bing-search-button {
  display: inline-block;
  margin: 0 0 10px 0 !important;
  padding: 5px !important;
  border: 1px solid #0464a2 !important;
}
/*
Fix for Firefox (same height for search input and button).
NOTE: http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari
*/
.cz-bing-search-button::-moz-focus-inner {
  border: 0;
}
.cz-bing-search-results {
  color: #232323;
}
.cz-bing-result-container {
  display: inline-block;
  overflow: hidden;
  margin: 15px 5px;
}
.cz-bing-result-title {
  color: #232323;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cz-bing-result-description,
a.cz-bing-result-description:visited,
a.cz-bing-result-description:link {
  display: block;
  color: #aeaeae;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
a.cz-bing-result-description:hover {
  color: #0464a2;
}
.cz-bing-result-doc-description {
  color: #aeaeae;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.cz-bing-result-thumbnail {
  display: block;
  margin: auto;
}
/* SkyDrive Media Picker */
iframe[sutra=picker] {
  opacity: 0;
  z-index: 100000003 !important;
}
iframe[sutra=picker] + div {
  z-index: 100000002 !important;
}
/* Source: CSS from SkyDrive */
.cz-skydrive-logout-button {
  opacity: 0;
  z-index: 100000003;
  position: fixed;
  height: 2.142em;
  min-width: 6em;
  font-family: "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Medium", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  background-color: rgba(182, 182, 182, 0.7);
  color: #212121;
  padding: 3px 12px 5px;
  border: 0;
  margin-left: 20px;
  margin-top: 15px;
  outline: none;
  line-height: 142%;
}
/* Label for warning */
.cz-skydrive-help-text {
  opacity: 0;
  z-index: 100000004;
  position: fixed;
  min-width: 6em;
  font-family: "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Medium", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #666666;
  padding: 3px 12px 5px;
  border: 0;
  margin-left: 10px;
  margin-top: 15px;
  outline: none;
  line-height: 142%;
}
/* Source: CSS from SkyDrive */
.cz-skydrive-logout-button:hover {
  background-color: rgba(205, 205, 205, 0.82);
}
/* Source: CSS from SkyDrive */
.cz-skydrive-logout-button:active {
  background-color: #212121;
  color: #fff;
}
