/* Height of input element */
/* Font-size of error message */
/* Error messages */
.error-message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
}
.input-error-message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
  margin-top: 10px;
  min-height: 29px;
  font-size: 1em;
  line-height: 2em;
}
input.error {
  border: 1px solid #ff4800;
}
.form-error-message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: auto;
  height: auto;
  color: #dd4b39;
  margin-top: 10px;
  padding: 8px 10px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1em;
}
/* Common */
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Start Page*/
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.start-page-screen {
  display: none;
  position: absolute;
  top: 35px;
  bottom: 25px;
  left: 0;
  right: 0;
  width: 100.1%;
  cursor: default;
  overflow: hidden;
  z-index: 1000;
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;
  font-family: "Segoe UI Light";
  font-weight: lighter;
  min-width: 700px;
}
.start-page-screen h1,
.start-page-screen h2,
.start-page-screen h3 {
  margin: 0;
  font-weight: lighter;
}
.ContentContainer {
  position: relative;
  margin: 0 auto;
  height: 100%;
}
.FTList {
  display: none;
  color: white;
}
.cleardiv {
  clear: both;
  width: 100%;
  height: 5px;
}
.bigcleardiv {
  clear: both;
  width: 100%;
  height: 25px;
}
.li-title {
  float: left;
  text-align: left;
  width: 66.3333%;
}
.li-title a:hover {
  color: #00BADE;
}
.li-author {
  float: left;
  text-align: right;
  width: 33.3333%;
}
.li-author:hover {
  color: #00BADE;
}
.li-icon {
  float: left;
  width: 33.3333%;
}
.boxInner {
  background-color: #313131;
  border-top: 3px #666 solid;
  position: absolute;
  width: 100%;
  height: 100%;
}
.tile-photo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../images/default-tile.png');
}
.tile-photo:hover {
  cursor: pointer;
}
.tile-gradient {
  background: -moz-linear-gradient(top, rgba(53, 53, 53, 0.9) 0%, rgba(53, 53, 53, 0.8) 45%, rgba(53, 53, 53, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(53, 53, 53, 0.9)), color-stop(45%, rgba(53, 53, 53, 0.8)), color-stop(100%, rgba(53, 53, 53, 0)));
  background: -webkit-linear-gradient(top, rgba(53, 53, 53, 0.9) 0%, rgba(53, 53, 53, 0.8) 45%, rgba(53, 53, 53, 0) 100%);
  background: -o-linear-gradient(top, rgba(53, 53, 53, 0.9) 0%, rgba(53, 53, 53, 0.8) 45%, rgba(53, 53, 53, 0) 100%);
  background: -ms-linear-gradient(top, rgba(53, 53, 53, 0.9) 0%, rgba(53, 53, 53, 0.8) 45%, rgba(53, 53, 53, 0) 100%);
  background: linear-gradient(to bottom, rgba(53, 53, 53, 0.9) 0%, rgba(53, 53, 53, 0.8) 45%, rgba(53, 53, 53, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(53,53,53,0.9)', endColorstr='rgba(53,53,53,0)', GradientType=0);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tile-gradient img {
  width: 100%;
  height: 100%;
}
.tile-meta {
  padding: 5%;
  position: absolute;
  top: 0;
  left: 0;
}
.tweet-meta {
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  height: 100%;
  overflow: visible;
  padding: 5%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}
.tile-meta-title {
  font-weight: bold;
  color: #FFF;
  font-size: 14px;
  display: block;
}
.tweet-meta-title {
  float: left;
  font-weight: bold;
  color: #FFF;
  font-size: 13px;
  display: block;
}
.tile-meta-author {
  font-weight: normal;
  color: #999;
  font-size: 12px;
}
.tweet-avatar-icon {
  float: left;
  height: 35px;
  width: 35px;
}
.tweet-icon {
  float: right;
  margin: 3px;
  background-image: url('../images/icon_twitter.png');
  height: 14px;
  width: 17px;
}
.tweet-meta-author {
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  color: #10A5C6;
  display: block;
}
.tweet-meta-author:link,
.tweet-meta-author:active,
.tweet-meta-author:visited {
  color: #00bce0;
}
.tweet-meta-author:hover {
  color: #ffffff;
}
.tile-meta-time {
  display: inline-block;
  font-size: 12px;
  color: #B0B0B0;
  float: right;
}
.twitter-time-container {
  position: absolute;
  margin: 5px;
  bottom: 15px;
  left: 5px;
  right: 5px;
  border-top: 1px #666 solid;
}
.tile-meta-text {
  font-weight: normal;
  color: #B0B0B0;
  font-size: 12px;
  display: block;
}
.tweet-meta-text {
  text-decoration: none;
  font-weight: normal;
  color: #B0B0B0;
  font-size: 12px;
  display: block;
  overflow: hidden;
  height: 65px;
}
.tweet-meta-text:link,
.tweet-meta-text:active,
.tweet-meta-text:visited {
  color: #b0b0b0;
}
.tweet-meta-text:hover {
  color: #ffffff;
}
.welcome-block-toggle .toggle-block[data-toggle~="show"] {
  display: block;
}
.welcome-block-toggle .toggle-block[data-toggle~="hide"] {
  display: none;
}
.toggle-block[data-toggle~="show"] {
  display: block;
}
.toggle-block[data-toggle~="hide"] {
  display: none;
}
.WelcomeBlock {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  overflow: hidden;
}
.WelcomeBlock .welcome-box-1 {
  margin-top: 3px;
  text-align: bottom;
}
.WelcomeBlock .welcome-box-1 h1 {
  font-size: 34px;
  margin: 10px 0 35px;
}
.WelcomeBlock .welcome-box-2 {
  font-size: 18px;
}
.WelcomeBlock .welcome-box-2 .welcome-link {
  color: #00bce0;
  padding: 0 30px;
  height: 65px;
  border: 1px solid transparent;
  line-height: 65px;
  font-size: 22px;
}
.WelcomeBlock .welcome-box-2 .welcome-link:hover {
  border: 1px solid #00bce0;
  background: url(/images/arrow-right-hover.png) no-repeat 95% center rgba(80, 80, 104, 0.7);
  cursor: pointer;
}
.welcome-link {
  color: #03A1BF;
}
.block-header {
  color: white;
  border-top: 3px #666 solid;
  text-align: left;
}
.block-header .header-text {
  font-size: 26px;
  line-height: 74px;
}
.list-view-icon {
  float: right;
  width: 36px;
  height: 36px;
  background-image: url(/images/arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 19px 0;
  cursor: pointer;
}
.list-view-icon:hover {
  background-image: url(/images/arrow-right-hover.png);
  cursor: pointer;
}
.list-view-icon.active {
  background-image: url(/images/arrow-left.png);
  cursor: pointer;
}
.list-view-icon.active:hover {
  background-image: url(/images/arrow-left-hover.png);
  cursor: pointer;
}
.FavoriteTimelinesBlock {
  color: #fff;
}
.MyTimelinesBlock {
  color: #fff;
}
.template-invisible {
  display: none;
}
.header-text {
  display: inline-block;
}
.box {
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: relative;
  margin: 5px;
  display: inline-block;
  text-align: left;
}
.TwitterBlock {
  text-align: center;
}
.box {
  visibility: visible important!;
}
.tweet-message-link {
  text-decoration: none;
}
.tweet-message-link:link,
.tweet-message-link:active,
.tweet-message-link:visited {
  color: #00bce0;
}
.tweet-message-link:hover {
  color: #ffffff;
}
.tweet-list-item {
  text-align: left;
  margin: 20px 0;
}
.tweet-list-item:nth-of-type(1) {
  margin-top: 0;
}
.tweet-list-item .tweet-li-header {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  height: 48px;
  display: table;
}
.tweet-list-item .tweet-li-header .tweet-li-avatar {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.tweet-list-item .tweet-li-header .tweet-li-fullname,
.tweet-list-item .tweet-li-header .tweet-li-username {
  font-size: 20px;
  line-height: 48px;
  display: table-cell;
  vertical-align: middle;
}
.tweet-list-item .tweet-li-header .tweet-li-username {
  text-decoration: none;
}
.tweet-list-item .tweet-li-header .tweet-li-username:link,
.tweet-list-item .tweet-li-header .tweet-li-username:active,
.tweet-list-item .tweet-li-header .tweet-li-username:visited {
  color: #00bce0;
}
.tweet-list-item .tweet-li-header .tweet-li-username:hover {
  color: #ffffff;
}
.tweet-list-item .tweet-li-message {
  text-decoration: none;
  font-size: 16px;
}
.tweet-list-item .tweet-li-message:link,
.tweet-list-item .tweet-li-message:active,
.tweet-list-item .tweet-li-message:visited {
  color: #ffffff;
}
.tweet-list-item .tweet-li-message:hover {
  color: #ffffff;
}
.tweet-list-item .tweet-li-footer {
  height: 14px;
  margin-top: 10px;
}
.tweet-list-item .tweet-li-footer .tweet-icon {
  margin-left: 10px;
}
.tweet-list-item .tweet-li-footer .tweet-li-date {
  font-size: 14px;
  color: #b0b0b0;
  float: right;
}
.timeline-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 1px solid transparent;
  margin: 20px 0;
  padding: 10px;
}
.timeline-list-item:nth-of-type(1) {
  margin-top: 0;
}
.timeline-list-item:hover {
  border: 1px solid #00bce0;
  background-color: rgba(80, 80, 104, 0.7);
  cursor: pointer;
}
.timeline-list-item .timeline-li-image {
  width: 64px;
  height: 64px;
  display: block;
  overflow: hidden;
  background-color: #313131;
}
.timeline-list-item .timeline-li-image img {
  width: 64px;
  height: 64px;
  display: block;
}
.timeline-list-item:before {
  position: absolute;
  content: attr(data-title);
  left: 84px;
  top: 10px;
  text-align: center;
  font-weight: bold;
}
.timeline-list-item:after {
  position: absolute;
  content: attr(data-author);
  left: 84px;
  top: 50%;
  color: #b0b0b0;
  text-align: center;
}
@media only screen and (max-width: 880px), screen and (orientation: landscape) and (max-device-width: 480px) {
  /* Small Tablet view: 3 rows, 2 columns */
  .FTTiles {
    overflow: hidden;
    text-align: center;
  }
  .tweet-meta-title {
    display: none;
  }
  .tweet-meta-text {
    font-size: 10px;
  }
  .tweet-avatar-icon {
    display: none;
  }
  .ex6,
  .ex9 {
    display: none;
  }
  .box {
    height: 150px;
    width: 150px;
    overflow: hidden;
  }
  .welcome-block-toggle {
    width: 100%;
    height: 20%;
    min-height: 250px;
  }
  .welcome-box-1 {
    padding: 0px;
    overflow: visible;
  }
  .welcome-box-2 {
    float: left;
    font-size: 11px;
    overflow: auto;
  }
  .welcome-box-3 {
    float: left;
    display: none;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 881px) {
  /* Tablet view: 1 row 4 columns and 2 x 2 columns below */
  .FTTiles {
    overflow: hidden;
    text-align: center;
  }
  .tweet-avatar-icon {
    display: none;
  }
  .tweet-meta-title {
    font-size: 10px;
  }
  .tweet-meta-author {
    font-size: 10px;
  }
  .box {
    height: 150px;
    width: 150px;
  }
  .ex3,
  .ex4 {
    display: inline-block;
  }
  .ex6,
  .ex9 {
    display: none;
  }
  .welcome-block-toggle {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 30%;
    background-color: transparent;
    vertical-align: top;
    overflow: visible;
    min-height: 250px;
  }
  .FeaturedTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 45%;
    min-width: 400px;
    height: 60%;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
  }
  .TwitterBlock {
    float: right;
    margin: 5px;
    padding: 5px;
    width: 45%;
    min-width: 400px;
    height: 60%;
    background-color: transparent;
    vertical-align: top;
    box-sizing: border-box;
    overflow: auto;
  }
  .FavoriteTimelinesBlock {
    float: right;
    margin: 5px;
    padding: 5px;
    width: 45%;
    min-width: 400px;
    height: 60%;
    background-color: transparent;
    vertical-align: top;
    box-sizing: border-box;
    overflow: auto;
  }
  .welcome-box-1 {
    font-size: 15px;
    white-space: nowrap;
    overflow: visible;
  }
  .welcome-box-2 {
    float: left;
    font-size: 14px;
    overflow: auto;
  }
  .welcome-box-2 .welcome-link {
    width: 40%;
  }
  .welcome-box-3 {
    float: left;
    overflow: auto;
    display: none;
  }
}
@media only screen and (max-width: 1700px) and (min-width: 1201px) {
  .box {
    height: 150px;
    width: 150px;
    float: left;
  }
  .ex9 {
    display: none;
  }
  .FTTiles {
    overflow: hidden;
  }
  .welcome-block-toggle {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 32%;
    height: 100%;
    min-height: 500px;
    overflow: hidden;
  }
  .FeaturedTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 32%;
    height: 100%;
    min-height: 300px;
    background-color: transparent;
    box-sizing: border-box;
    overflow: auto;
  }
  .TwitterBlock {
    float: right;
    margin: 5px;
    padding: 5px;
    width: 32%;
    height: 100%;
    min-height: 300px;
    box-sizing: border-box;
    overflow: auto;
  }
  .FavoriteTimelinesBlock {
    float: right;
    margin: 5px;
    padding: 5px;
    width: 32%;
    height: 100%;
    min-height: 300px;
    box-sizing: border-box;
    overflow: auto;
  }
  .welcome-box-1 {
    overflow: visible;
    vertical-align: top;
    font-size: 15px;
  }
  .welcome-box-2 {
    float: left;
    overflow: visible;
    height: calc(30%);
    height: -webkit-calc(30%);
  }
  .welcome-box-3 {
    float: left;
    overflow: visible;
    vertical-align: top;
  }
  /* Medium desktop: 6 columns, 3 rows */
}
@media only screen and (min-width: 1701px) {
  /* Large desktop: 6 columns, 3 rows, extra margin tiles */
  .FTTiles {
    overflow: hidden;
  }
  .twitter-time-container {
    bottom: 25px;
  }
  .box {
    height: 160px;
    width: 160px;
    float: left;
  }
  .welcome-block-toggle {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 32%;
    height: 100%;
    min-height: 600px;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .FeaturedTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 32%;
    height: 100%;
    min-height: 300px;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
  }
  .TwitterBlock {
    float: right;
    margin: 5px;
    padding: 5px;
    width: 32%;
    height: 100%;
    min-height: 300px;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
  }
  .FavoriteTimelinesBlock {
    float: right;
    margin: 5px;
    padding: 5px;
    width: 32%;
    height: 100%;
    min-height: 300px;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
  }
}
