.start-page-screen {
  display: none;
  position: absolute;
  top: 33px;
  bottom: 20px;
  left: 0%;
  right: 0%;
  cursor: default;
  overflow: hidden;
  z-index: 1000;
  background-image: url(/images/background.jpg);
  background-size: 100%;
}
.FTTiles {
  width: calc(100%);
  height: calc(100%);
  overflow: hidden;
}
.FTList {
  display: none;
  color: white;
}
.cleardiv {
  clear: both;
  width: 100%;
  height: 5px;
}
.li-title {
  float: left;
  width: 33.3333%;
}
.li-author {
  float: left;
  width: 33.3333%;
}
.li-icon {
  float: left;
  width: 33.3333%;
}
.boxInner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tile-photo {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px #666 solid;
  overflow: hidden;
}
.tile-photo img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tile-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tile-gradient img {
  width: 100%;
  height: 100%;
}
.tile-meta {
  padding: 5%;
  position: absolute;
  top: 0;
  left: 0;
}
.tile-meta-title {
  font-weight: bold;
  color: #FFF;
  font-size: 14px;
  display: block;
}
.tile-meta-author {
  font-weight: normal;
  color: #999;
  font-size: 12px;
}
.tile-meta-time {
  font-size: 12px;
}
.tile-meta-text {
  font-weight: normal;
  color: #999;
  font-size: 12px;
  display: block;
}
.WelcomeBlock {
  color: white;
  overflow: hidden;
  border: dotted 2px #1e1e1e;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.welcome-link {
  color: green;
}
.block-header {
  color: white;
  border-top: 3px #666 solid;
}
.toggle-list-button {
  float: right;
  margin: 18px 10px 0 0;
}
.template-invisible {
  display: none;
}
@media only screen and (max-width: 650px), screen and (orientation: landscape) and (max-device-width: 480px) {
  /* Small Tablet view: 3 rows, 2 columns */
  .ex3,
  .ex4,
  .ex6 {
    display: none;
  }
  .box {
    float: left;
    position: relative;
    width: 30%;
    height: 30%;
    padding-bottom: 30%;
    overflow: hidden;
  }
  .WelcomeBlock {
    width: calc(100%);
    height: calc(20%);
  }
  .welcome-box-1 {
    padding: 0px;
    font-size: 10px;
    overflow: visible;
    height: calc(40%);
  }
  .welcome-box-2 {
    float: left;
    height: calc(60%);
    font-size: 11px;
    overflow: auto;
  }
  .welcome-box-3 {
    float: left;
    display: none;
  }
}
@media only screen and (max-width: 1050px) and (min-width: 651px) {
  /* Tablet view: 1 row 4 columns and 2 x 2 columns below */
  .box {
    float: left;
    position: relative;
    width: 50%;
    height: 15%;
    padding-bottom: 20%;
  }
  .ex3,
  .ex4 {
    display: block;
  }
  .ex6 {
    display: none;
  }
  .WelcomeBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(100%);
    height: calc(30%);
    background-color: transparent;
    vertical-align: top;
  }
  .FeaturedTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(45%);
    height: calc(60%);
    border: dotted 2px #1e1e1e;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .PopularTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(45%);
    height: calc(60%);
    border: dotted 2px #1e1e1e;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .TwitterBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(45%);
    height: calc(60%);
    border: dotted 2px #1e1e1e;
    background-color: transparent;
    vertical-align: top;
    box-sizing: border-box;
  }
  .welcome-box-1 {
    font-size: 15px;
    white-space: nowrap;
    overflow: visible;
    height: calc(50%);
  }
  .welcome-box-2 {
    float: left;
    height: calc(30%);
    font-size: 14px;
    overflow: auto;
  }
  .welcome-box-3 {
    float: left;
    overflow: auto;
    display: none;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1051px) {
  .box {
    float: left;
    position: relative;
    width: 50%;
    height: 15%;
    padding-bottom: 20%;
  }
  .WelcomeBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(31.333333000000003%);
    height: calc(100%);
    border: dotted 2px #1e1e1e;
  }
  .FeaturedTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(31.333333000000003%);
    height: calc(100%);
    border: dotted 2px #1e1e1e;
    background-color: transparent;
    box-sizing: border-box;
  }
  .PopularTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(31.333333000000003%);
    height: calc(100%);
    border: dotted 2px #1e1e1e;
    box-sizing: border-box;
  }
  .TwitterBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(31.333333000000003%);
    height: calc(100%);
    border: dotted 2px #1e1e1e;
    box-sizing: border-box;
  }
  .welcome-box-1 {
    overflow: visible;
    vertical-align: top;
    font-size: 15px;
  }
  .welcome-box-2 {
    float: left;
    overflow: visible;
    height: calc(30%);
  }
  .welcome-box-3 {
    float: left;
    overflow: visible;
    vertical-align: top;
  }
  /* Medium desktop: 6 columns, 3 rows */
}
@media only screen and (min-width: 1401px) {
  /* Large desktop: 6 columns, 3 rows, extra margin tiles */
  .box {
    float: left;
    position: relative;
    width: 50%;
    height: 15%;
    padding-bottom: 20%;
  }
  .WelcomeBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(31.333333000000003%);
    height: calc(100%);
    border: dotted 2px #1e1e1e;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .FeaturedTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(31.333333000000003%);
    height: calc(100%);
    border: dotted 2px #1e1e1e;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .PopularTimelinesBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(31.333333000000003%);
    height: calc(100%);
    border: dotted 2px #1e1e1e;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .TwitterBlock {
    float: left;
    margin: 5px;
    padding: 5px;
    width: calc(31.333333000000003%);
    height: calc(100%);
    border: dotted 2px #1e1e1e;
    background-color: transparent;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
