/*
    The initial/default theme is Midnight Blue, (.theme-midnight,) which should not
    have any styling here, since the default styling, without applying any specific
    theme styles, is Midnight Blue.

    The only entries here should be for anything that differs from the default theme.
*/
.theme-library #overlay {
  background: #111111 url(/images/themes/peabody-library.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.theme-library #overlay .glass {
  padding: 8px 15px 1px 10px;
}
.theme-library #overlay .glass::after {
  /*background: rgba(26, 24, 17, 0.5);  - lighter alternative with touch of cream */
  background: rgba(0, 0, 0, 0.5);
}
.theme-library .overlay-list-title {
  color: #fff;
  text-shadow: 2px 2px #000;
}
.theme-library #listWelcome p,
.theme-library .overlay-list-note {
  color: #bbb;
  text-shadow: 2px 2px #000;
}
.theme-library .overlay-list-note.glass {
  margin-top: 5px;
}
.theme-library #overlay .triangle-in-circle,
.theme-library #listWelcome a,
.theme-library #listWelcome a:hover,
.theme-library #listWelcome a:visited {
  border-color: #e2d99c;
  color: #e2d99c;
  text-shadow: 1px 1px 20px #111;
}
.theme-library .overlay-tile {
  opacity: 1;
}
.theme-library .overlay-tile:hover {
  border-color: #b28f65;
  -webkit-box-shadow: 3px 3px 10px #dedea2;
  -moz-box-shadow: 3px 3px 10px #dedea2;
  box-shadow: 3px 3px 10px #dedea2;
}
.theme-library #themePicker {
  background: #b28f65;
  color: #000;
  opacity: 0.6;
}
.theme-library footer {
  background-color: #353023;
  border-color: #2a2519;
}
.theme-rosette #overlay {
  background: #120305 url(/images/themes/rosette-nebula.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.theme-rosette .overlay-list-note {
  color: #ddd;
  text-shadow: 2px 2px #000;
}
.theme-rosette .overlay-list-note.glass {
  margin-top: 5px;
  padding: 8px 15px 1px 10px;
  color: #bbb;
}
.theme-rosette .overlay-list-note.glass::after {
  background: rgba(32, 12, 15, 0.8);
}
.theme-rosette #overlay .triangle-in-circle,
.theme-rosette #listWelcome a,
.theme-rosette #listWelcome a:hover,
.theme-rosette #listWelcome a:visited {
  border-color: #f80;
  color: #f80;
  text-shadow: 1px 1px 20px #f90;
}
.theme-rosette #themePicker {
  background: #3a1218;
  opacity: 0.8;
}
.theme-rosette #themePicker select {
  background-color: #4f3135;
}
.theme-rosette footer {
  background-color: #200c0f;
  border-color: #170306;
}
