.cz-timescale {
  padding-bottom: 0px;
  font-size: large;
  font-weight: 500;
  background-color: #0388E5;
  overflow: hidden;
  cursor: default;
  width: 100%;
  height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .75em;
  color: white;
  position: relative;
  overflow: visible;
}
.cz-timescale > canvas {
  position: absolute;
  bottom: 0px;
}
.cz-timescale-panel {
  position: absolute;
  display: table;
  z-index: 100;
  top: 0px;
  height: 100%;
  width: 185px;
  background-color: #0388E5;
  font-size: large;
  text-align: center;
}
.cz-timescale-left {
  left: 0px;
  border-right: 5px solid #58B7F9;
}
.cz-timescale-left p {
  display: table-cell;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.timescale_right_border_input {
  color: white;
  display: table-cell;
  background-color: #0388E5;
  width: 185px;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.timescale_left_border_input {
  color: white;
  display: table-cell;
  background-color: #0388E5;
  width: 185px;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.cz-timescale-right {
  right: 0px;
  border-left: 5px solid #58B7F9;
}
.cz-timescale-right p {
  display: table-cell;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}
.cz-timescale-labels-container {
  position: absolute;
  bottom: 16px;
}
.cz-timescale-label {
  position: absolute;
  display: block;
  float: left;
  white-space: nowrap;
}
.cz-timescale-marker {
  z-index: 150;
  display: table;
  position: absolute;
  height: 100%;
  width: auto;
  background-color: transparent;
  top: 0px;
}
.cz-timescale-marker div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 24px;
  padding: 5px 15px;
  background-color: #00538D;
  line-height: 100%;
  font-size: 15px;
}
.cz-timescale-marker-triangle {
  position: absolute;
  bottom: 0;
  border-top: 14px solid   #00538D;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -14px;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
