<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Application.Helper.Constants.UsersInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Application.Helper.Constants.UsersInfo>
            <setting name="google_login" serializeAs="String">
                <value />
            </setting>
            <setting name="google_password" serializeAs="String">
                <value />
            </setting>
            <setting name="wlid_login" serializeAs="String">
                <value />
            </setting>
            <setting name="wlid_password" serializeAs="String">
                <value />
            </setting>
            <setting name="yahoo_login" serializeAs="String">
                <value />
            </setting>
            <setting name="yahoo_password" serializeAs="String">
                <value />
            </setting>
        </Application.Helper.Constants.UsersInfo>
    </userSettings>
</configuration>