<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework-->
  <connectionStrings>
    <!-- add name="Storage" connectionString="Data Source=|DataDirectory|Storage.sdf" providerName="System.Data.SqlServerCe.4.0" /-->
    <!--add name="Storage" connectionString="Server=tcp:jvlwd0c6a4.database.windows.net,1433;Database=cz-june2013-yitao-testcopy;User ID=cznodeletechronozoomtest@jvlwd0c6a4;Password=ChronoChrono!;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient"/-->
    <add name="Storage" connectionString="Server=tcp:jvlwd0c6a4.database.windows.net,1433;Database=cz-june2013-yitao-testcopy3;User ID=cznodeletechronozoomtest@jvlwd0c6a4;Password=ChronoChrono!;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="StorageTimeout" value="120" />
  </appSettings>
</configuration>