<Application>
  <Settings>
    <Global>
      <IsUsingGrid>true</IsUsingGrid>
      <BaseUrl>http://test.chronozoomproject.org/cz2.html</BaseUrl>
      <ImplicitWait>60</ImplicitWait>
      <ExplicitWait>60</ExplicitWait>
      <BrowserName>chrome</BrowserName>
      <ConnectionWait>60</ConnectionWait>
    </Global>
    <IncludeTestCategories>
    </IncludeTestCategories>
    <ExcludeTestCategories>
    </ExcludeTestCategories>
    <GridExecuting>
      <x86HubUrl>http://192.168.50.175:4445/wd/hub</x86HubUrl>
      <x64HubUrl>http://192.168.50.175:4444/wd/hub</x64HubUrl>
      <HubUrl>http://192.168.50.175:4444/wd/hub</HubUrl>
      <BrowserVersion>24</BrowserVersion>
      <PlatformName>Vista</PlatformName>
      <GridCapabilities>
        <Capability Platform="Win8x86" Browser="chrome" Version="24" />
        <Capability Platform="Win8x86" Browser="firefox" Version="18" />
        <Capability Platform="Win8x86" Browser="Internet explorer" Version="10" />
        <Capability Platform="Win7x64" Browser="chrome" Version="24" />
        <Capability Platform="Win7x64" Browser="firefox" Version="18" />
        <Capability Platform="Win7x64" Browser="Internet explorer" Version="9" />
        <Capability Platform="Macx86" Browser="chrome" Version="" />
      </GridCapabilities>
    </GridExecuting>
    <Highliting>
      <HasHighliting>true</HasHighliting>
      <HighlightWait>200</HighlightWait>
    </Highliting>
  </Settings>
</Application>