html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    -ms-touch-action: none;
    overflow: hidden;
    font-family: 'Segoe UI', Helvetica, Arial, 'Trebuchet MS', San Serif;
    background-color: #232323;

    min-width: 950px;
    min-height: 250px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/************************************
*               Header              *
************************************/

#header {
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

    #header ul {
        list-style: none;
	    margin: 0;
	    padding: 0;
        overflow: hidden;
    }

        #header ul li {
            height: 100%;
        }

            #header ul li img {
                margin-left: 5px;
                margin-right: 5px;
            }

    #header ul:after {
        clear: both;
    }

.regime-link {
    line-height: 36px;
    height: 100%;
    font-size: medium 14px;
    margin-left: 15px;
    margin-right: 15px;
}

    .regime-link:hover {
        cursor: pointer;
    }

#regime-link-cosmos {
    color: #986C9D;
}

#regime-link-earth {
    color: #517F95;
}

#regime-link-life {
    color: #499649;
}

#regime-link-prehistory {
    color: #ED9132;
}

#regime-link-humanity {
    color: #D45C46;
}

#login-panel {
    line-height: 36px;
    height: 100%;
    font-size: medium 14px;
    color: #E9E9E9 !important;
}

/****************************************
*               Content                 *
****************************************/

#content {    
    min-height: 100%;
    height: 100%;
    margin-top: -36px;
    padding-top: 36px;
    margin-bottom: -25px;
    padding-bottom: 25px;    
            
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#vc-container {
    min-height: 100%;
    height: 100%;
    margin-top: -38px;
    padding-top: 38px;
    
            
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#vc {
    height: 100%;    
    width: 100%;
    overflow: hidden;
    background-image: url('/Images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.virtualCanvas {
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.virtualCanvasLayerDiv {
overflow: hidden;
position: absolute;
z-index: 0;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.virtualCanvasLayerCanvas
{
position: absolute;
z-index: 0;
left: 0px;
}

.contentItemDescription
{
font-family: Arial;
font-size: 10px;
color: rgb(232,232,232);
background-color: transparent;
position: absolute;
left: 0px;
top: 0px;
}

.contentItemDescription .text
{
height: inherit;
overflow: auto;
overflow-x: hidden;
overflow-y: auto;
position: relative;
}


.textDivElement
{
color: white;
-ms-transform: scale(1,1);
}

.tour_control
{
width: 190px;
cursor: pointer;
}


/********************************************
*               bibliography                *
********************************************/

.biblBack
{
width: 100%;
height: 100%;
z-index: 5000;
background-color: rgba(255,255,255,0.2);
position: absolute;
left: 0;
top: 0;
}

.biblOuterWindow
{
background-color: rgba(0,0,0,0.6);
width: 788px;
margin-left: auto;
margin-right: auto;
position: relative;
border-radius: 8px;
cursor: default;
}

.biblWindow
{
font-family: Arial;
font-size: 18.5px;
color: White;
background-color: #434343;

vertical-align: middle;
position: absolute;
border-radius: 8px;
cursor: default;
overflow: hidden;
bottom: 25px;
top: 25px;
left: 25px;
right: 25px;
}

.biblWindow .closeButton
{
background-image: "/Images/close.png";
position: absolute;
right: 12px;
top: 12px;
width: 30px;
height: 30px;
z-index: 5005;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.biblWindow .title
{
font-family: Arial;
font-size: 18px;
font-weight: bold;
color: White;
padding-top: 22px;
padding-bottom: 7px;
margin-right: 60px;
margin-left: 32px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
border-bottom: 1px solid #DBDBDB;
cursor: default;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.biblWindow .sources
{
display: block;
position: absolute;
height: auto;
bottom: 0;
top: 0;
left: 0;
right: 0;
margin-left: 32px;
margin-right: 20px;
margin-top: 55px;
margin-bottom: 13px;
padding-right: 23px;
height: auto;
overflow: auto; /* scroll bars */
overflow-x: hidden;
}

.biblWindow .sources .source
{
padding-left: 4px;
padding-right: 5px;
padding-bottom: 0px;
padding-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-top: 0px;
border-bottom: 1px solid #DBDBDB;
}

.biblWindow .sources .sectionTitle
{
color: White;
font-size: 18px;
text-align: left;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-top: 20px;
cursor: default;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
border-bottom: 1px solid #DBDBDB;
}


.biblWindow .sources .source .sourceName
{
color: #DBDBDB;
font-size: 18px;
text-align: left;
margin-left: 0px;
margin-right: 50px;
margin-top: 0px;
padding-left: 0px;
padding-bottom: 12px;
padding-top: 20px;
cursor: pointer;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.biblWindow .sources .source .sourceDescr
{
background-color: #DBDBDB;
color: #424242;
font-size: 15px;
text-align: left;
padding: 12px;
margin-left: 12px;
margin-right: 50px;
margin-bottom: 25px;
cursor: auto;
border-radius: 8px;
}



.czWindow
{
font-family: Arial;
font-size: 14.5px;
color: #BFBFBF;
background-color: #424242;
z-index: 2000;
position: absolute;
left: 0px;
top: 144px;
width: 220px;
margin-left: 0px;
margin-bottom: 0px;
border-bottom-right-radius: 8px;
}

.czWindow .header
{
font-size: 19px;
color: #424242;
background: #515151; /* for non-css3 browsers */
background: -moz-linear-gradient(left, #FDFDFD, #515151); /* Mozilla: */
background: -webkit-gradient(linear, left top, right top, from(#FDFDFD), to(#424242)); /* Chrome, Safari:*/
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FDFDFD', EndColorStr='#424242', GradientType=1); /* MSIE */
width: 167px;
vertical-align: middle;
padding-top: 4px;
padding-bottom: 2px;
padding-left: 14px;
cursor: default;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.czWindow .czTextBox
{
font-family: Arial;
font-size: 12px;
color: White;
background-color: #424242;
height: 20px;
margin: 3px 5px 3px 5px;
border: 1px solid #BFBFBF;
}

.czWindow .czTextBox:focus
{
border: 1px solid White;
}

.czWindow .emptyTextBox
{
font-family: Arial;
font-size: 12px;
font-style: italic;
color: #BFBFBF;
}

.czWindow .narration
{
font-size: 13px;
text-align: center;
margin-left: 5px;
margin-right: 15px;
padding-bottom: 0px;
padding-top: 10px;
border-bottom: none; /*1px solid #424242;*/
width: 181px;
cursor: pointer;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.czWindow .narration-selected
{
color: White;
}


.czWindow .content
{
margin-top: 10px;
margin-left: 10px;
margin-right: 13px;
margin-bottom: 0px;
width: 196px;
border-bottom: 1px solid #424242;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.czWindow .content .category
{
vertical-align: middle;
margin-left: 0px;
margin-right: 13px;
margin-bottom: 10px;
width: 196px;
cursor: pointer;
border-bottom: 2px solid #BFBFBF;
}

.czWindow .content .category:hover
{
color: White;
}


.czWindow .content .collapseButton
{
left: 194px;
position: absolute;
}



.czWindow .content .categorySelected
{
vertical-align: middle;
margin-left: 0px;
margin-right: 13px;
margin-bottom: 10px;
width: 196px;
cursor: pointer;
border-bottom: none;
}

.czWindow .content .categorySelected:hover
{
color: White;
}

.czWindow .content .itemContainer
{
margin-left: 5px;
margin-right: 15px;
padding-bottom: 10px;
border-bottom: none; /*1px solid #424242;*/
width: 181px;
}


.czWindow .content .itemContainer .item
{
cursor: pointer;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.czWindow .content .itemContainer .item:hover
{
color: White;
}

.czWindow .content .itemContainer .touritem-selected
{
color: White;
}

.czWindow .searchResults
{
margin-left: 10px;
margin-right: 15px;
margin-bottom: 10px;
border-bottom: none; /*1px solid #424242;*/
overflow: auto; /* scroll bars */
overflow-x: hidden;
}

/*
.czWindow .searchResults
{
margin-left: 10px;
margin-right: 15px;
padding-bottom: 10px;
border-bottom: none;
overflow: auto;
height: 104px;
overflow-x: hidden;
}
*/
.czWindow .searchResults .searchResultSection
{
font-size: 13px;
text-align: left;
margin-left: 0px;
margin-right: 10px;
margin-bottom: 5px;
margin-top: 5px;
padding-bottom: 0px;
padding-top: 0px;
cursor: default;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
border-bottom: 1px solid #BFBFBF;
}

.czWindow .searchResults .searchResult
{
font-size: 13px;
text-align: left;
margin-left: 7px;
margin-right: 10px;
padding-bottom: 0px;
padding-top: 0px;
border-bottom: none; /*1px solid #424242;*/
cursor: pointer;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.czWindow .searchResults .searchResult:hover
{
color: White;
}

.czWindow .searchResults .searchNoResult
{
font-style:italic;
font-size: 13px;
text-align: left;
margin-left: 0px;
margin-right: 10px;
padding-bottom: 0px;
padding-top: 0px;
border-bottom: none; /*1px solid #424242;*/
cursor: default;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}


.bookmarksWindow
{
font-family: Arial;
font-size: 14.5px;
color: #BFBFBF;
background-color: #424242;
z-index: 1999;
position: absolute;
left: 0px;
bottom: 44px;
width: 200px;
max-height: 409px;
margin-left: 0px;
border-top-right-radius: 8px;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.bookmarksWindow .header
{
font-size: 14.5px;
color: White;
padding-top: 10px;
padding-bottom: 9px;
padding-left: 5px;
padding-right: 6px;
margin-left: 10px;
margin-right: 23px;
cursor: default;
border-bottom: 2px solid #BFBFBF;
}

.bookmarksWindow .headerButton
{
position: absolute;
right: 12px;
top: 9px;
}

.bookmarksWindow .slideHeader
{
font-size: 14.5px;
color: White;
padding-top: 5px;
padding-bottom: 10px;
padding-left: 4px;
padding-right: 6px;
margin-left: 10px;
margin-right: 19px;
cursor: default;
}

.bookmarksWindow .slideText
{
font-size: 13px;
color: #BFBFBF;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 3px;
padding-right: 3px;
margin-left: 15px;
margin-right: 19px;
max-height: 250px;
overflow: auto;
overflow-x: hidden;
}

.bookmarksWindow .slideFooter
{
font-size: 12px;
color: White;
text-align: right;
padding-top: 5px;
padding-bottom: 13px;
padding-left: 4px;
padding-right: 0px;
margin-top: 20px;
margin-left: 10px;
margin-right: 19px;
cursor: default;
height: 15px;
border-top: 1px solid #BFBFBF;
}


/****************************************
*               tooltip                 *    
****************************************/

.bubbleInfo 
{
	position:absolute;
	float:left;
	white-space:nowrap;
	
	filter:alpha(opacity=90); 
	-moz-opacity: 0.9; 
	opacity: 0.9; 
	
	clear:both;
	padding:10px;
	
	background-position: center;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	display: block;
}

#defaultBox
{
	background-image: url("../Images/defaultGradientBox.jpg") ;
}

#cosmosRegimeBox
{
	background-image: url("../Images/cosmosRegimeBox.jpg") ;
}

#earthRegimeBox
{
	background-image: url("../Images/earthRegimeBox.jpg") ;
}

#humanityRegimeBox
{
	background-image: url("../Images/humanityRegimeBox.jpg") ;
}

#lifeRegimeBox
{
	background-image: url("../Images/lifeRegimeBox.jpg") ;
}


#prehistoryRegimeBox
{
	background-image: url("../Images/prehistoryRegimeBox.jpg") ;
	background-position: center;
}

.bubbleInfo span
{
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.block {
		   position: relative;
		   background-color: #abc;
		   white-space: nowrap;
		   display: block;
		}		
		



/***********************************
*          Welcome Screen          *   
************************************/
.welcomeScreenBack
{   
	width: 100%;
	height: 100%;
	z-index: 5000;
	background-color: rgba(255,255,255,0.2);
	position: absolute;
	left: 0;
	top: 0;
}

.welcomeScreenOuterWindow
{
	background-color: rgba(0,0,0,0.6);
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-radius: 8px;
	cursor: default;
    min-height: 443px;
    height: 443px;
}

.welcomeScreen
{
	font-family: Arial;
	font-size: 18.5px;
	color: White;
	background-color: #3C5F96;
	width: 864px;    
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	position: relative;
    top: 16px;
    right: 0px;
    bottom: 16px;
    left: 0px;
    height: auto;
	border-radius: 8px;
	cursor: default;
	overflow: hidden;
    min-height: 411px;
}

.welcomeScreen .titleArea
{
	margin-right: 22px;
	margin-left: 32px;
	border-bottom: 1px solid #DBDBDB;
}

.welcomeScreen .titleArea .closeButton
{
	background-image: "/Images/close.png";
	position: absolute;
	top: 12px;
	right: 22px;
	width: 30px;
	height: 30px;
	z-index: 5005;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.welcomeScreen .titleArea .title
{
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: White;
	padding-top: 22px;
	padding-bottom: 7px;
	margin-right: 60px;   
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.welcomeScreen .content
{
	width: 810px;
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 75px;
	margin-bottom: 13px;
	height: auto;
	overflow: hidden;
	font-family: Arial;
	font-size: 16px;
}

.welcomeScreen .content .description
{
	display: inline-block;
	position: absolute;
	height: 315px;
	width: 220px;
	margin-right: 20px;
}

.welcomeScreen .content .description .button
{
	margin-bottom: 10px;
	border: 1px solid #EF4136; 
	background: #EA7134; 
	width: 220px; 
	height: 36px;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: White;
}

.welcomeScreen .content .media
{    
	display: inline-block;
	position: absolute;
	width: 560px;
	height: 315px;
	right: 0px;
}

.welcomeScreen .content .media .player
{
	position: absolute; 
	right: 0px; 
	width: 100%; 
	height: 100%;
}

/**********************************
*	FallbackPage
**********************************/
/*
.fallbackScreenBack
{   
	width: 100%;
	height: 100%;
	z-index: 5000;
	position: absolute;
	left: 0;
	top: 0;
}

.fallbackScreenOuterWindow
{
	background-image: url('../Images/fallbackOuterBackground.jpg');
	background-position: top center;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	cursor: default;
}

.fallbackScreen
{
	font-family: Arial;
	font-size: 18.5px;
	color: White;
	background-color: #3C5F96;
	width: 864px;    
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	position: relative;
	cursor: default;
	overflow: hidden;
}

.fallbackScreen .titleArea
{
	margin-right: 22px;
	margin-left: 32px;
	border-bottom: 1px solid #DBDBDB;
}

.fallbackScreen .titleArea .title
{
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: White;
	padding-top: 22px;
	padding-bottom: 7px;
	margin-right: 60px;   
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}

.fallbackScreen .content
{
	width: 810px;
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 75px;
	margin-bottom: 13px;
	height: auto;
	overflow: hidden;
	font-family: Arial;
	font-size: 16px;
}

.fallbackScreen .content .description
{
	display: inline-block;
	position: absolute;
	height: 315px;
	width: 220px;
	margin-right: 20px;
}

.fallbackScreen .content .description a
{
   font-family: Arial;
   font-size: 16px;
   color:White;
   text-decoration: underline;
}

.fallbackScreen .content .description .button
{
	margin-bottom: 10px;
	border: 1px solid #EF4136; 
	background: #EA7134; 
	width: 220px; 
	height: 36px;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: White;
}

.fallbackScreen .content .media
{    
	display: inline-block;
	position: absolute;
	width: 560px;
	height: 315px;
	right: 0px;
}

.fallbackScreen .content .media .player
{
	position: absolute; 
	right: 0px; 
	width: 100%; 
	height: 100%;
}*/

img.fallbackBackground {
			/* Set rules to fill background */
			min-height: 100%;
			min-width: 1024px;
			
			/* Set up proportionate scaling */
			width: 100%;
			height: auto;
			
			/* Set up positioning */
			position: fixed;
			top: 0;
			left: 0;
		}
		
		@media screen and (max-width: 1024px){
			img.fallbackBackground {
				left: 50%;
				margin-left: -512px; }
		}

.fallbackOuterContent 
{	
	background-image: url('../Images/fallbackOuterBackground.jpg');
	background-position: top center;
	
	position:absolute; 
	
	top:50%;
	left: 50%;
	
	width: 900px;
	height:482px; 

	margin-top:-241px;
	margin-left: -450px;
	
	cursor: default;
}

.fallbackContent 
{
	position: relative;
	
	width: 864px;
	height:432px; 

	margin-top:25px; 
	margin-left:auto; 
	margin-right:auto;
	
	background-color: #3C5F96;

	font-family: Arial;
	font-size: 18.5px;
	color: White;
	
	vertical-align: middle;
	cursor: default;
	overflow: hidden;
}


.fallbackContent .titleArea
{
	margin-right: 22px;
	margin-left: 32px;
	border-bottom: 1px solid #DBDBDB;
}

.fallbackContent .titleArea .title
{
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: White;
	padding-top: 22px;
	padding-bottom: 7px;
	margin-right: 60px;   
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}

.fallbackContent .content
{
	width: 810px;
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 75px;
	margin-bottom: 13px;
	height: auto;
	overflow: hidden;
	font-family: Arial;
	font-size: 16px;
}

.fallbackContent .content .description
{
	display: inline-block;
	position: absolute;
	height: 315px;
	width: 220px;
	margin-right: 20px;
}

.fallbackContent .content .description a
{
   font-family: Arial;
   font-size: 16px;
   color:White;
   text-decoration: underline;
}

.fallbackContent .content .description .button
{
	border: 1px solid #EF4136; 
	background: #EA7134; 
	width: 220px; 
	height: 36px;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: White;

	text-align: center;
	vertical-align:middle;
	
}

.fallbackContent .content .media
{    
	display: inline-block;
	position: absolute;
	width: 560px;
	height: 315px;
	right: 0px;
}

.fallbackContent .content .media .player
{
	position: absolute; 
	right: 0px; 
	width: 100%; 
	height: 100%;
}


/*********************************************************
*                       footer                           *
**********************************************************/

#footer {
    height: 25px;
    position: relative;
}    

    #footer ul {
            list-style: none;
	        margin: 0;
	        padding: 0;
            overflow: hidden;
        }

            #footer ul li {
                height: 100%;
            }

.footer-link {
    margin-right: 20px;
    margin-left: 20px;
    line-height: 25px;
    height: 100%; 
    
    color:  #FFF;
    white-space: nowrap;
}

    .footer-link:hover {
        cursor: pointer;
    }

		
/********************************************
*               breadcrumbs                 *
********************************************/

.breadcrumbs-nav {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 100%;
    font-size: 20px;
    color: #BFBFBF;
}

    .breadcrumbs-nav:hover {
        color: white;
    }

#breadcrumbs-nav-left {    
	cursor: pointer;
    display: none;
}

#breadcrumbs-nav-right {    
	cursor: pointer;
    display: none;
}

.breadcrumbs-container {
    width: 50%;
    height: 100%;
    
    overflow: hidden;
    line-height: 100%;
}

#breadcrumbs-table {
	position: relative; 
	cellspacing: 0px;
	cellpadding: 0px;
	border-collapse: collapse;	
    border-spacing: 0px;	
	margin: 0px;
	padding: 0px;	
    height: 100%;
    width: auto;
}
	
    #breadcrumbs-table tr {
        position: absolute;
        white-space: nowrap;
        height: 100%;
    }

        #breadcrumbs-table tr td {
            height: 25px;
            padding: 0;
            margin: 0;
            line-height: 100%;
	        white-space: nowrap;
        }

.breadcrumb-separator 
{
	margin-left: 3px;
	margin-right: 3px;
	color: #bfbfbf; 
    height: 100%;
    line-height: 100%;
	font-size: 12.5px;
	font-family: verdana;
	cursor: default;
}
  
.breadcrumb-link 
{
	display: inline-block;
	position: relative;
	line-height: 25px;
    height: 25px;
	font-size: 12.5px;
	font-family: verdana;
	cursor: pointer;
}

.breadcrumb-cosmos {	   
	color: #986C9D;
}

.breadcrumb-earth {	   
	color: #517F95;
}

.breadcrumb-life {	   
	color: #499649;
}

.breadcrumb-prehistory {	   
	color: #ED9132;
}

.breadcrumb-humanity {	   
	color: #D45C46;
}

.breadcrumb-hover {
	color: white;
}


/************************************
*              Authoring            *
************************************/

#footer-authoring {
    display:            inline-block;
    background-color:   #212121;
}

.footer-authoring-text {
    margin-right:       5px;
    vertical-align:     middle;
    
    color:              #BFBFBF;
    font:               11.5px Arial;
    white-space:        nowrap;
}

.footer-authoring-link {
    margin-right:           3px;
    margin-left:            3px;
    padding:                4px 2px 3px 3px;
    vertical-align:         middle;   
    
    color:                  #BFBFBF;
    font:                   11.5px Arial;
    white-space:            nowrap;

    -webkit-border-radius:  1px;
	-moz-border-radius:     1px;
	border-radius:          1px;
}

    .footer-authoring-link:hover {
        color:              black;
        background-color:   #BFBFBF;
        text-decoration:    none;
        cursor: default;
    }

    .footer-authoring-link:active {
    	color:              black;
        background-color:   #7B7B7B;
        text-decoration:    none;
        cursor: default;
    }

.footer-authoring-link.active {
	color:              black;
    background-color:   #BFBFBF;
    text-decoration:    none;
    cursor: default;
}
	.footer-authoring-link.active:active {
    	color:              black;
        background-color:   #7B7B7B;
        text-decoration:    none;
        cursor: default;
    }

/************************************
*               Auxilary            *
************************************/

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearer {
    clear:  both;
}

.unselectable {
    -webkit-user-select: none;    
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.text-selectable {
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
         -o-user-select: text;
            user-select: text;
}

/***********************************************************

                        Form Base

***********************************************************/

.cz-form {
    position: absolute;
    top: 4.6875%; /* 36 / 768 */
    left: 0;
    z-index: 100000001;
    display: none;
    width: 30.2734375%; /* 310 / 1024 */
    height: 92.05729166666667%; /* (768 - 36 - 25) / 768 */
    cursor: default;
}

.cz-form-header {
    position: relative;
    width: 100%;
    height: 5.37482319660537%; /* 38 / (768 - 36 - 25) */
    background-color: #0464A2;
}

.cz-form-header > ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

.cz-form-title {
    float: left;
    margin-left: 4.19354838709677%; /* 13 / 310 */
    height: 100%;
    color: #fff;
    font-size: 1.5em;
    line-height: 1.5em;
}

.cz-form-close-btn {
    float: right;
    margin-right: 4.19354838709677%; /* 13 / 310 */
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
}

.cz-form-btn {
    cursor: pointer;
}

.cz-form-content {
    padding: 1.94319880418535% 4.19354838709677%; /* 13 / 669; 13 / 310 */
    height: 94.62517680339463%; /* ((768 - 36 - 25) - 38) / (768 - 36 - 25) */
    background-color: #fff;
    color: #aeaeae;
    text-align: justify;
}