.cz-timescale {
    padding-bottom: 0px;
    font-size: large;
    font-weight: 500;
    background-color: #0388E5;
    overflow: hidden;
    cursor: default;
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    font-size: .75em;
    color: white;
    position: relative;
    overflow: visible;
}

.cz-timescale > canvas {
    position: absolute;
    bottom: 0px;
}

.cz-timescale-panel {
    position: absolute;    
    z-index: 100;    
    top: 0px;
    height: 100%;
    width: 185px;  
    background-color: #0388E5;
    font-size: large;
    text-align: center;
}

.cz-timescale-left {
    left: 0px;
    border-right: 5px solid #58B7F9;
}
    .cz-timescale-left p {        
        font-family: sans-serif;
        font-size: 25px;
        text-align: center;
        vertical-align: middle;
        margin:0px;
    }

.timescale_right_border_input {
    color: white;
    background-color: #0388E5;
    width: 185px;  
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    margin:0px;
}

.timescale_left_border_input {
    color: white;
    background-color: #0388E5;
    width: 185px;  
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    margin:0px;
}
    

.cz-timescale-right {
    right: 0px;
    border-left: 5px solid #58B7F9;
}

    .cz-timescale-right p {        
        font-family: sans-serif;
        font-size: 25px;
        text-align: center;
        vertical-align: middle;
        margin:0px;
    }
.cz-timescale-labels-container {
    position:absolute;
    bottom:16px;
}
.cz-timescale-label {
    position: absolute;
    display: block;
    float: left;
    white-space: nowrap;
}

.cz-timescale-marker {
    position: absolute;
    height: 100%;
    width: 6.75em;
    background-color: #00538D;
    border: 2px solid green;
    top: -2px;
}

    .cz-timescale-marker p {        
        vertical-align: middle;
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        margin:0px;
    }

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}