@model Authoring.WebRole.Models.Threshold

@{
    ViewBag.Title = "Delete";
}

<h2>Threshold - Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Threshold</legend>

    <div class="display-label">Threshold1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Threshold1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
