<Application>
  <Settings>
    <Global>
      <IsUsingGrid>false</IsUsingGrid>
      <BaseUrl>http://cz-nodelete-chronozoom-prod.azurewebsites.net/</BaseUrl>
      <ImplicitWait>60</ImplicitWait>
      <ExplicitWait>60</ExplicitWait>
      <BrowserName>chrome</BrowserName>
      <ConnectionWait>60</ConnectionWait>
    </Global>
    <IncludeTestCategories>
    </IncludeTestCategories>
    <ExcludeTestCategories>
    </ExcludeTestCategories>
    <GridExecuting>
      <x86HubUrl>http://192.168.50.175:4445/wd/hub</x86HubUrl>
      <x64HubUrl>http://192.168.50.175:4444/wd/hub</x64HubUrl>
      <HubUrl>http://192.168.50.175:4444/wd/hub</HubUrl>
      <BrowserVersion>18</BrowserVersion>
      <PlatformName>Vista</PlatformName>
      <GridCapabilities>
        <Capability Platform="Win8x64" Browser="chrome" Version="24" />
      </GridCapabilities>
    </GridExecuting>
    <Highliting>
      <HasHighliting>true</HasHighliting>
      <HighlightWait>200</HighlightWait>
    </Highliting>
  </Settings>
</Application>